@charset "UTF-8";

.col-lg-4 {
  width: 33.33%;
  float: left;
}

.col-md-6 {
  width: 50%;
  float: left;
}
.col-lg-12 {
  display: block;
  margin: 0 auto;
}

.suggest_itemImage{
	width: 350px;
	height: 300px;
	margin-right: 100px;
	size: auto;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
}
.overlay_image{
	width: 350px;
	
}