@charset "UTF-8";


/*------------clientListRealtor css --------------- */

body{
	color: #383E65;	
}

#content_list{
width: 100%;
height: 30px;
font-size: 30px;
font-weight: bold;
padding-top: 50px;
padding-left: 180px;
border-bottom-color: #7F7F7F;
justify-content: center;
color: #383E65;
}

#content_area{
width: 80%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
margin: 30px 180px;
}

#introduce_msg{
width:80%;
color: #6A7BE7;
font-size: 20px;
padding-top: 20px;
margin-bottom: 5px;
margin-left:200px;
display: flex;
}

#user_name{
width: 200px;
font-weight: bold;	
color: #6A7BE7;
}

#content_box{
margin-top: 80px;
margin-bottom: 150px;
}

#item_image
{
width: 300px;
border: 1px solid black;
float: left;
text-align: center;
}

.itemList_shortcut
{
width:550px; 
padding-top: 20px;
border-bottom-color: #7F7F7F;
justify-content: center;
display: inline-block;
margin-left: 50px;
}

.itemList_shortcut ul
{
	font-weight: bold;
	font-size: 16px;
	margin:auto;
	margin-right: 60px;
	display: inline-block;
}

.itemList_shortcut li
{
	font-weight: normal;
	font-size: 16px;
	margin-top: 5px;
	
}

.confirm_button{
width: 100px;
height: 50px;
border: 1px solid #6A7BE7;
color: #6A7BE7;
border-radius: 30px;
background-color: #ffffff;
transition: background-color 1s ease;
justify-content: center;
}

.confirm_button:hover{
	background-color: #6A7BE7;
	color: #FFFFFF ;
}



/*------------suggestListRealtor css --------------- */

.container_suggest{
  width: 80%;
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 100px;
  margin-left: 200px;
  border: 1px solid black;
  padding-top: 50px;
}

#suggest_username{
width: 150px;
font-weight: bold;	
color: #6A7BE7;
border: 1px solid black;
margin-right: 60px;
justify-content: center;
vertical-align: middle;
}

.userInfo_area{
width: 100%;
display: flex;
float: left;
justify-content: center;
margin-bottom: 100px;
border-bottom: 1px solid #7F7F7F;
padding-bottom: 30px;
}

.suggestList_itemList_shortcut{
width:550px; 
padding-top: 20px;
border-bottom-color: #7F7F7F;
justify-content: center;
display: inline-block;
margin-left: 50px;
}

.suggestList_itemList_shortcut ul
{
	font-weight: bold;
	font-size: 17px;
	margin:auto;
	margin-right: 60px;
	display: inline-block;
}

.suggestList_itemList_shortcut li
{
	font-weight: normal;
	font-size: 15px;
	margin-top: 8px;
	
}

#suggest_itemImage{
width: 350px;
height: 250px;
margin-right: 100px;
size: auto;
overflow: hidden;
vertical-align: middle;
display: table-cell;
}

#suggest_item_img{
width: 350px;
height: 250px;
}

.suggestList_area{
width: 100%;
display: flex;
border: 1px solid black;
float: left;
padding: 30px 30px 100px 170px;
justify-content: center;
}

.suggestList_content{
width: 450px;
height: auto;
}

.suggestList_content ul
{
	font-weight: bold;
	font-size: 17px;
	margin:auto;
	margin-right: 60px;
	display: inline-block;
}

.suggestList_content li
{
	font-weight: normal;
	font-size: 15px;
	margin-top: 5px;
	
}
#content{
justify-content: center;
}

.select_btn_area{
width: 100px;	
margin: auto;
justify-content: center;
}

#selectBtn{
width: 100px;
height: 50px;
border: 1px solid #6A7BE7;
color: #6A7BE7;
border-radius: 30px;
background-color: #ffffff;
transition: background-color 1s ease;
margin: auto;
}

#selectBtn.disabled{
width: 100px;
height: 50px;
border: 1px solid #6A7BE7;
color: #ffffff;
border-radius: 30px;
background-color: #6A7BE7;
margin: auto;
}

.complete_btn_area{
margin-top:50px;
margin-bottom:100px;
float: right
}

#complete_button{
width: 100px;
height: 50px;
border: 1px solid #6A7BE7;
color: #6A7BE7;
border-radius: 30px;
background-color: #ffffff;
transition: background-color 1s ease;
margin: auto;
}

#complete_button:hover{
	background-color: #6A7BE7;
	color: #ffffff ;
}