<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.newzips.account.AccountUserMapper">

<insert id="createMember" parameterType="com.boot.newzips.dto.MemberDTO">
	insert into member (userId,userPwd,userName,userBirth,userPhone,userZipCode,userAddr,userDetailedAddr,userEmail,userRole,emailReceive)
	values (#{userId},#{userPwd},#{userName},#{userBirth},#{userPhone},#{userZipCode},#{userAddr},#{userDetailedAddr},#{userEmail},#{userRole},#{emailReceive})
</insert>

<insert id="createOauthMember" parameterType="com.boot.newzips.dto.MemberDTO">
	insert into member (userId,userName,userEmail,userRole)
	values (#{userId},#{userName},#{userEmail},#{userRole})
</insert>

<update id="updateMember" parameterType="com.boot.newzips.dto.MemberDTO">
	update member set userPwd=#{userPwd},userPhone=#{userPhone},userAddr=#{userAddr},userEmail=#{userEmail},
	emailReceive=#{emailReceive},marketing=#{marketing} where userId=#{userId}
</update>

<select id="getUserById" parameterType="String" resultType="com.boot.newzips.dto.MemberDTO">
	select userId,userPwd,userName,userRole from member where userId=#{userId}
</select>

<select id="getUserByEmail" parameterType="String" resultType="com.boot.newzips.dto.MemberDTO">
	select userId,userPwd,userRole from member where userEmail=#{userEmail}
</select>

<select id="findId" parameterType="Map" resultType="String">
	select userId from member where userName=#{userName} and userPhone=#{userPhone}
</select>

<select id="findPwd" parameterType="Map" resultType="String">
	select userPwd from member where userId=#{userId} and userName=#{userName} and userPhone=#{userPhone}
</select>

<!-- <select id="getMemberId" parameterType="map" resultType=""></select>

<select id="getMemberPwd" parameterType="map" resultType=""></select> -->


</mapper>