<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.newzips.mapper.ReservationResidentMapper">

<!-- 거주자 예약 -->


<insert id="insertResidentReserv" parameterType="com.boot.newzips.dto.ResidenceReservDTO">
  INSERT INTO RESIDENCERESERV (userId, itemId, availableDate, availableTime, available)
  VALUES (#{userId}, #{itemId}, #{availableDate}, #{availableTime}, #{available})
</insert>


<!-- 유저 아이디로 조회 -->
<select id="selectResidenceReservUserId" parameterType="String" resultType="com.boot.newzips.dto.ResidenceReservDTO">
  select distinct userId, itemId, availableDate, availableTime, available from RESIDENCERESERV where userId = #{userId}
</select>


<!-- 예약 정보를 삭제 -->
<delete id="deleteResidentReserv" parameterType="com.boot.newzips.dto.ResidenceReservDTO">
  DELETE FROM RESIDENCERESERV WHERE userId = #{userId}
</delete>

<!-- 수정 -->
<update id="updateResidentReserv" parameterType="com.boot.newzips.dto.ResidenceReservDTO">
	update RESIDENCERESERV
	set available = #{available}
	where userId = #{userId}
	and itemId = #{itemId}
	and availableDate = #{availableDate}
	and	availableTime = #{availableTime}
		
</update>

<!-- 예약날짜 기준으로 예약시간 조회 -->
<select id="selectAvailableTimes" parameterType="map" resultType="com.boot.newzips.dto.ResidenceReservDTO">
	SELECT userId,availableDate,availableTime,available 
	FROM RESIDENCERESERV
	WHERE userId = #{userId}
	AND availableDate = #{availableDate}
</select>


</mapper>

