<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.newzips.mapper.ReservationUserMapper">

<!-- 방문자 예약 -->

<insert id="insertReservation" parameterType="com.boot.newzips.dto.VisitorReservDTO">
	insert into VISITORRESERV (reservNo,userId,itemId,realtorId,visitDate,visitTime,confirm) 
	values (#{reservNo},#{userId},#{itemId},#{realtorId},#{visitDate},#{visitTime},#{confirm})
</insert>


  <!-- 예약 가능한 날짜 조회 -->
  <select id="selectAvailableDate" parameterType="map" resultType="string">
    SELECT visitTime FROM VISITORRESERV
    WHERE userId = #{userId}
      AND itemId = #{itemId}
      AND visitDate = #{visitDate}
  </select>
  
  
  <!-- 예약 가능한 시간 조회 -->
  <select id="selectAvailableTime" parameterType="map" resultType="string">
    SELECT visitTime FROM VISITORRESERV
    WHERE userId = #{userId}
      AND itemId = #{itemId}
      AND visitDate = #{visitDate}
      AND visetTime = #{visitTime}
  </select>


	<!-- 예약번호로 조회 -->
	<select id="selectReservationReservNo" parameterType="String" resultType="com.boot.newzips.dto.VisitorReservDTO">
		SELECT reservNo, userId, itemId, realtorId, visitDate, visitTime, confirm
	    FROM VISITORRESERV
	    WHERE reservNo = #{reservNo}
	</select>
	
	
	<!-- 유저아이디로 조회 -->
	<select id="selectReservationUserId" parameterType="String" resultType="com.boot.newzips.dto.VisitorReservDTO">
		SELECT reservNo, userId, itemId, realtorId, visitDate, visitTime, confirm
	    FROM VISITORRESERV
	    WHERE userId = #{userId}
	</select>
	
	<!-- itemId로 조회 -->
	<select id="selectReservationItemId" parameterType="String" resultType="com.boot.newzips.dto.VisitorReservDTO">
		SELECT reservNo, userId, itemId, realtorId, visitDate, visitTime, confirm
	    FROM VISITORRESERV where itemId=#{itemId}
	</select>
	
	<!-- roomInfo -->
	<select id="getReservationRoomInfo" parameterType="String" resultType="com.boot.newzips.dto.RoomInfoDTO">
		select itemId, roomType, roomFloor, area, supplyArea, roomDirection, heating, availableDate, rooms, bathrooms
		from ROOMINFO where itemId = #{itemId}
	</select>
	
	<!-- realtorInfo -->
	<select id="getRealtorInfo" parameterType="String" resultType="com.boot.newzips.dto.RealtorDTO">
		select realtorId, realtorName, realtorPhone 
		from REALTOR where realtorId=#{realtorId}
	</select>
	
	
	<!-- 삭제 -->
	<delete id="deleteReservation" parameterType="String">
		delete from VISITORRESERV where reservNo = #{reservNo}
	</delete>
	
	<!-- itemId가 겹치는거 -->
  	<select id="getRealtorInfoByRealtorId" resultType="com.boot.newzips.dto.RealtorDTO">
	  SELECT r.realtorName, r.realtorPhone
	  FROM REALTOR r
	  JOIN VISITORRESERV v ON r.realtorId = v.realtorId
	  WHERE v.itemId = #{itemId} AND r.realtorId = #{realtorId}
	</select>
	
	<!-- 이게 진짜 예약현황 리스트 -->
	<select id="getReservationList" parameterType="String" resultType="com.boot.newzips.dto.ReservationStatusDTO">
	  SELECT i.itemId, i.addrDetail, u.visitDate, u.visitTime, r.realtorName, r.realtorPhone, u.CONFIRM
	  FROM VISITORRESERV u
	  JOIN Listing i ON u.itemId = i.itemId
	  JOIN REALTOR r ON u.realtorId = r.realtorId
	  WHERE u.userId = #{userId}
	  ORDER BY u.visitDate DESC, u.visitTime DESC

	</select>


</mapper>