#route{
  color:gray;
  margin-left: 20%;
  font-size: 13px;
}

.MainImage{
  height: auto;
  max-width: 40%;
  overflow: hidden;
  margin: 0 0 0 13%;
  display: inline;
}

.info{ border:1px solid black;
	width: 30%; 
	display: inline-block;
	float: left;
	margin-left: 5%;
}

.infoOutline{
	display: inline-block;
	border: 1px solid black;
	width: 35%;
	word-break:normal;
}

.infoContentOutline{
	display: inline-block;
	border: 1px solid black;
	width: auto;
	word-break:normal;
}

.infoList{
	font-size: 10pt;
	padding-left: 25px;

}

.infoContent{
	font-size: 10pt;
	padding-left: 25px;
	list-style: none;
	padding-left: 0px;
}

.mainImage{
	border: 1px solid black;
	width: 35%;
	margin-left: 15%;
	height: 400px;
	float: left;
}

.hide{
	clear: left; 
	border: none;
}