<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style>
	button {
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
	}
	
	 
	
</style>
</head>
<body>

<div style="border: 1px solid black; text-align: center">
<div style="height: 20px;"></div>
	<div>
		<dl>
			<h2>계약</h2>
		</dl>
	</div>
	
	<div style="height: 20px;"></div>
	
	<div style="text-align: center;">
	  <div style="display: inline-block; width: 400px; height: 300px; margin-right: 20px; border: 1px solid black"></div>
	  <div style="display: inline-block; width: 400px; height: 300px; margin-right: 20px;">
	  	<div style="border: 1px solid black; width: 400px; height: 140px; margin-bottom: 20px"></div>
	  	<div style="border: 1px solid black; width: 400px; height: 140px;"></div>
	  </div>
	</div>
	
	<div style="height: 20px;"></div>
	
		<p>임대인 정보</p>
		<div>
		<dl>
			<dd>
				<textarea rows="10" cols="100" style="resize: none; 
				background-color: #ffffff;" disabled="disabled">기본 정보
				</textarea>
			</dd>
		</dl>
	</div>
	
	<div style="height: 20px;"></div>
	
	<p>임차인 정보</p>
	<div>
		<dl>
			<dd>
				<textarea rows="10" cols="100" style="resize: none; 
				background-color: #ffffff;" disabled="disabled">기본 정보
				</textarea>
			</dd>
		</dl>
	</div>
	
	<div style="height: 20px;"></div>
	
	<p>중개인 정보</p>
	<div style="display: flex; justify-content: center; gap: 40px;">
	  <div style="width: 400px; height: 200px; border: 1px solid black;">
	  	<input type="image" value="중개인 이미지">
	  </div>
	  <div style="width: 400px; height: 200px; border: 1px solid black;">중개사 및 중개인 정보</div>
	</div>
    
    <div style="height: 40px;"></div>
	
	<div>
	<button type="button">계약하기</button>
	</div>
	
</div>

</body>
</html>