<html>
<meta charset="UTF-8">


<div th:fragment="headerFragment" class="headerBox">
	
	  <header>

            <div class="top-header">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-md-7 col-sm-12">
                            <div class="header-address">
                                <a href="#">
                                    <i class="la la-phone-square"></i>
                                    <span>02-6255-8002</span>
                                </a>
                                <a href="#">
                                    <i class="la la-map-marker"></i>
                                    <span>서울특별시 강남구 테헤란로 124</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-5 col-sm-12">
                            <div class="header-social">
                                <a href="#">
                                </a>
                                <a href="#">
                                </a>
                                <a href="#">
                                </a>
                                <a href="#">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="/newzips">
                                    <img src="/assets/images/newzips_logo_1.png" alt="">
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="/newzips/itemList_user">
                                                매물검색
                                            </a>
                                         
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                방문예약
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/newzips/reservation_resident">거주자 예약</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">예약현황 확인</a>
                                            </div>
                                           
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                               제안
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="21_List_Layout_With_Map.html">제안받기</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">제안받은 매물</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="/newzips/wish">
                                               관심목록
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                    	
                                        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                                            <li class="nav-item signin-btn">
                                                <a class="nav-link">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b id="header_login">로그인</b></span>
                                                </a>
                                                
                                            </li>

                                            <li class="nav-item submit-btn">
                                                <a href="/newzips/join" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <span>회원가입</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                                            <li class="nav-item signin-btn">
                                                <a class="nav-link">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b id="header_logout">로그아웃</b></span>
                                                </a>
                                                
                                            </li>

                                            <li class="nav-item submit-btn">
                                                <a href="/newzips/mypage" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <span>마이페이지</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header><!--header end-->
</div>