<html>
<meta charset="UTF-8">


<div th:fragment="headerFragment" class="headerBox">
	
	<div class="header">
	    <div class="container">
	        <div class="row">
	            <div class="col-xl-12">
	                <nav class="navbar navbar-expand-lg navbar-light">
	                    <a class="navbar-brand" href="01_Home.html">
	                        <img src="/assets/images/newzips_logo.png" alt="">
	                    </a>
	                    <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
	                        <span class="icon-spar"></span>
	                        <span class="icon-spar"></span>
	                        <span class="icon-spar"></span>
	                    </button>
	
	                    <div class="navbar-collapse" id="navbarSupportedContent">
	                        <ul class="navbar-nav mr-auto">
	                            <li class="nav-item dropdown active">
	                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
	                                    Home
	                                </a>
	                                <div class="dropdown-menu animated">
	                                    <a class="dropdown-item" href="01_Home.html">White Menu with Center Search</a>
	                                    <a class="dropdown-item active" href="02_Home.html">Image Menu with Center Search 2</a>
	                                    <a class="dropdown-item" href="03_Home.html">Map with Center Search</a>
	                                    <a class="dropdown-item" href="04_Home.html">Geo SVG Map</a>
	                                    <a class="dropdown-item" href="05_Home.html">Slider Header</a>
	                                    <a class="dropdown-item" href="06_Home.html">Image Header with Description</a>
	                                    <a class="dropdown-item" href="07_Home_Categories_and_Advanced_Search.html">More Search Features</a>
	                                </div>
	                            </li>
	                            <li class="nav-item dropdown">
	                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
	                                    Features
	                                </a>
	                                <div class="dropdown-menu animated">
	                                    <a class="dropdown-item" href="17_Features_Example_Alt_Titlebar.html">Features Example</a>
	                                    <a class="dropdown-item" href="18_Half_Map.html">Half Map</a>
	                                </div>
	                            </li>
	                            <li class="nav-item dropdown">
	                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
	                                    Listing
	                                </a>
	                                <div class="dropdown-menu animated">
	                                    <a class="dropdown-item" href="21_List_Layout_With_Map.html">List Layout with Map</a>
	                                    <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">List Layout with Sidebar</a>
	                                    <a class="dropdown-item" href="11_Agent_Profile.html">Agent Profile</a>
	                                    <a class="dropdown-item" href="24_Property_Single.html">Property Single</a>
	                                </div>
	                            </li>
	                            <li class="nav-item dropdown">
	                                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
	                                    Pages
	                                </a>
	                                <div class="dropdown-menu animated">
	                                    <a class="dropdown-item" href="12_Blog_Grid.html">Blog Grid</a>
	                                    <a class="dropdown-item" href="13_Blog_Standart.html">Blog Standard</a>
	                                    <a class="dropdown-item" href="14_Blog_Open.html">Blog Open</a>
	                                    <a class="dropdown-item" href="10_About.html">About</a>
	                                    <a class="dropdown-item" href="15_Contact.html">Contact</a>
	                                    <a class="dropdown-item" href="09_404.html">404</a>
	                                </div>
	                            </li>
	                        </ul>
	                        <div class="d-inline my-2 my-lg-0">
	                            <ul class="navbar-nav">
	                                <li class="nav-item signin-btn">
	                                    <a href="#" class="nav-link">
	                                        <i class="la la-sign-in"></i>
	                                        <span><b class="signin-op">로그인</b> or <b class="reg-op">회원가입</b></span>
	                                    </a>
	
	                                </li>
	                                <li class="nav-item submit-btn">
	                                    <a href="#" class="my-2 my-sm-0 nav-link sbmt-btn">
	                                        <i class="icon-plus"></i>
	                                        <span>Submit Listing</span>
	                                    </a>
	                                </li>
	                            </ul>
	                        </div>
	                        <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
	                    </div>
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>

</div><!--header end-->