<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">

    <link rel="stylesheet" type="text/css" href="/assets/css/suggestList.css">

<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>매물 제안 요청</h3>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ============================================================ -->


<section>

<form th:object="${suggestionDTO}" th:action="@{/newzips/insertCompletedUser}" method="post">
	<div class="option_container">
		<div id=userInfo_area th:if="suggestion!=null">
		<ul style="font-size: 20px; font-weight: bold; padding-bottom: 15px;">사용자 정보</ul>
			<ul id="user_data">아이디
				<li>[[${suggestion.userId}]]
				<input type="hidden" name="userId" th:value="${suggestion.userId}">
				</li>
			</ul>
			<ul id="user_data">연락처
				<li>[[${suggestion.userPhone}]]
				<input type="hidden" name="userPhone" th:value="${suggestion.userPhone}">
				</li>
			</ul>
		</div>
		<div id="option_area">
			<div id="option_title">
				<label>도/특별시 선택</label><br/>
					<select id="addrCity" onchange="updateSelect()" name="addrCity">
							<option value="서울특별시">서울특별시</option>
							<option value="경기도">경기도</option>
							<option value="인천광역시">인천광역시</option>
							<option value="부산광역시">부산광역시</option>
							<option value="대전광역시">대전광역시</option>
							<option value="대구광역시">대구광역시</option>
							<option value="광주광역시">광주광역시</option>
							<option value="울산광역시">울산광역시</option>
							<option value="충청북도">충청북도</option>
							<option value="충청남도">충청남도</option>
							<option value="전라북도">전라북도</option>
							<option value="전라남도">전라남도</option>
							<option value="경상북도">경상북도</option>
							<option value="경상남도">경상남도</option>
							<option value="강원도">강원도</option>
							<option value="제주도">제주도</option>
					</select>
					<select id="addrGu" name="addrGu">
						<option value="강남구">강남</option>
					</select>
			</div>
			<div id="option_title">
				<label>전/월세</label><br/>
						<input type="text" size="35" name="yearly_monthly" maxlength="20"  id="input_box"
						color= "#e3e3e3" placeholder="ex: 전세"/>
			</div>
			<div id="option_title">
				<label>전세금/보증금</label><br/>
						<input type="text" size="35" name="deposit" maxlength="20"  id="input_box"
						placeholder="ex: 100000000"/>
			</div>
			<div id="option_title">
				<label>금액 (월세만 입력)</label><br/>
						<input type="text" size="35" name="monthlyFee" maxlength="20"  id="input_box"
						placeholder="ex: 600000"/>
			</div>
			<div id="option_title">
				<label>방 수</label><br/>
						<input type="text" size="35" name="rooms" maxlength="20"  id="input_box" 
						placeholder="ex: 1"/>
			</div>
			<div id="option_title">
				<label>평수</label><br/>
						<input type="text" size="35" name="area" maxlength="20"  id="input_box"
						placeholder="ex: 10"/>
			</div>
			<div id="option_title">
				<label>관리비</label><br/>
						<input type="text" size="35" name="maintenanceCost" maxlength="20"  id="input_box"
						placeholder="ex: 100000"/>
			</div>
			<div id="btn_area">
				<button id="cancel_btn"><a href="/newzips">취소</a></button>
				<button id="complete_btnn" type="submit">
				완료</button>
			</div>
		</div>
	</div>
	</form>
</section>



<!-- ================================================================================================ -->


<!-- 
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!--pagination end-->
                                
          
      
 
<!-- ================================================================================================ -->


	<script>
		function updateSelect() {
			var addrCity = document.getElementById("addrCity").value;
			var addrGu = document.getElementById("addrGu").options;
			
			if(addrCity == "서울특별시"){
				addrGu.options.add("강남구");
				addrGu[1].value = "강동구";
				addrGu[2].value = "강북구";
				addrGu[3].value = "강서구";
				addrGu[4].value = "관악구";
				addrGu[5].value = "광진구";
				addrGu[6].value = "구로구";
				addrGu[7].value = "금천구";
				addrGu[8].value = "노원구";
				addrGu[9].value = "도봉구";
				addrGu[10].value = "동대문구";
				addrGu[12].value = "동작구";
				addrGu[13].value = "마포구";
				addrGu[14].value = "서대문구";
				addrGu[15].value = "서초구";
				addrGu[16].value = "성동구";
				addrGu[17].value = "성북구";
				addrGu[18].value = "송파구";
				addrGu[19].value = "양천구";
				addrGu[20].value = "영등포구";
				addrGu[21].value = "용산구";
				addrGu[22].value = "은평구";
				addrGu[23].value = "종로구";
				addrGu[24].value = "중구";
				addrGu[25].value = "중랑구";
			
			} else if (addrCity == "경기도") {
				
				addrGu[0].value = "수원시 장안구";
				addrGu[0].value = "수원시 팔달구";
				addrGu[0].value = "수원시 영통구";
				addrGu[0].value = "수원시 권선구";
				addrGu[1].value = "용인시 수지구";
				addrGu[1].value = "용인시 기흥구";
				addrGu[1].value = "용인시 처인구";
				addrGu[2].value = "성남시 수정구";
				addrGu[2].value = "성남시 중원구";
				addrGu[2].value = "성남시 분당구";
				addrGu[3].value = "부천시 오정구";
				addrGu[3].value = "부천시 원미구";
				addrGu[3].value = "부천시 소사구";
				addrGu[5].value = "안산시 단원구";
				addrGu[5].value = "안산시 상록구";
				addrGu[6].value = "안양시 만안구";
				addrGu[6].value = "안양시 동안구";
				addrGu[12].value = "광명시";
				addrGu[14].value = "하남시";
				addrGu[20].value = "과천시";
				addrGu[21].value = "고양시";
				addrGu[22].value = "남양주시";
				addrGu[23].value = "파주시";
				addrGu[24].value = "의정부시";
				
			} else if (addrCity == "인천광역시"){
				addrGu[0].value = "계양구";
				addrGu[1].value = "남동구";
				addrGu[2].value = "동구";
				addrGu[3].value = "미추홀구";
				addrGu[4].value = "부평구";
				addrGu[5].value = "서구";
				addrGu[6].value = "연수구";
				addrGu[7].value = "중구";
		
			} else if (addrCity == "부산광역시"){
				addrGu[0].value = "강서구";
				addrGu[1].value = "금정구";
				addrGu[2].value = "남구";
				addrGu[3].value = "동구";
				addrGu[4].value = "동래구";
				addrGu[5].value = "북구";
				addrGu[6].value = "부산진구";
				addrGu[7].value = "사상구";
				addrGu[8].value = "사하구";
				addrGu[9].value = "서구";
				addrGu[10].value = "수영구";
				addrGu[12].value = "연제구";
				addrGu[13].value = "영동구";
				addrGu[14].value = "중구";
				addrGu[15].value = "해운대구";
			
			} else if (addrCity == "대전광역시"){
				addrGu[0].value = "대덕구";
				addrGu[1].value = "동구";
				addrGu[2].value = "서구";
				addrGu[3].value = "유성구";
				addrGu[4].value = "중구";
				
		} else if (addrCity == "대구광역시"){
			addrGu[0].value = "남구";
			addrGu[1].value = "달서구";
			addrGu[2].value = "달성구";
			addrGu[3].value = "동구";
			addrGu[4].value = "북구";
			addrGu[5].value = "수성구";
			addrGu[6].value = "서구";
			addrGu[7].value = "중구";
			
	} else if (addrCity == "광주광역시"){
		addrGu[0].value = "광산구";
		addrGu[1].value = "남구";
		addrGu[2].value = "동구";
		addrGu[3].value = "북구";
		addrGu[4].value = "서구";
	
	} else if (addrCity == "울산광역시"){
		addrGu[0].value = "남구";
		addrGu[1].value = "동구";
		addrGu[2].value = "북구";
		addrGu[3].value = "울주군";
		addrGu[4].value = "중구";
	
	} else if (addrCity == "충청북도"){
		addrGu[0].value = "청주시 상당구";
		addrGu[1].value = "청주시 서원구";
		addrGu[2].value = "청주시 흥덕구";
		addrGu[3].value = "청주시 청원구";
		addrGu[4].value = "충주시";	
		addrGu[5].value = "제천시";	
		
	} else if (addrCity == "충청남도"){
		addrGu[0].value = "천안시";
		addrGu[1].value = "공주시";
		addrGu[2].value = "보령시";
		addrGu[3].value = "아산시";
		addrGu[4].value = "서산시";	
		addrGu[5].value = "논산시";	
		addrGu[6].value = "계룡시";
		addrGu[7].value = "당진시";
		
	} else if (addrCity == "전라북도"){
		addrGu[0].value = "전주시";
		addrGu[1].value = "군산시";
		addrGu[2].value = "익산시";
		addrGu[3].value = "정읍시";
		addrGu[4].value = "남원시";	
		addrGu[5].value = "김제시";	
		
	} else if (addrCity == "전라남도"){
		addrGu[0].value = "목포시";
		addrGu[1].value = "여수시";
		addrGu[2].value = "순천시";
		addrGu[3].value = "나주시";
		addrGu[4].value = "광양시";	
		
	} else if (addrCity == "경상북도"){
		addrGu[0].value = "안동시";
		addrGu[1].value = "상주시";
		addrGu[2].value = "문경시";
		addrGu[3].value = "김천시";
		addrGu[4].value = "구미시";	
		addrGu[5].value = "영천시";	
		addrGu[6].value = "경주시";
		addrGu[7].value = "포항시";
		
	} else if (addrCity == "경상남도"){
		addrGu[0].value = "창원시";
		addrGu[1].value = "진주시";
		addrGu[2].value = "밀양시";
		addrGu[3].value = "사천시";
		addrGu[4].value = "거제시";	
		addrGu[5].value = "영천시";	
		addrGu[6].value = "경주시";
		addrGu[7].value = "포항시";
	
	} else if (addrCity == "강원도"){
		addrGu[0].value = "춘천시";
		addrGu[1].value = "원주시";
		addrGu[2].value = "강릉시";
		addrGu[3].value = "동해시";
		addrGu[4].value = "태백시";	
		addrGu[5].value = "속초시";	
		addrGu[6].value = "삼척시";
		
	} else if (addrCity == "제주도"){
		addrGu[0].value = "제주시";
		addrGu[1].value = "서귀포시";

	}
			
		}
		
		</script>

</div>

</html>