<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>매물 상세정보(user)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/js/lib/slick/slick.css">
    <link rel="stylesheet" href="/assets/js/lib/slick/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/style2.css">
    <link rel="stylesheet" href="/assets/css/itemDetail.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
</head>

<body>	  
		<header>

            <div class="top-header">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-md-7 col-sm-12">
                            <div class="header-address">
                                <a href="#">
                                    <i class="la la-phone-square"></i>
                                    <span>02-6255-8002</span>
                                </a>
                                <a href="#">
                                    <i class="la la-map-marker"></i>
                                    <span>서울특별시 강남구 테헤란로 124</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-5 col-sm-12">
                            <div class="header-social">
                            	<i class="la la-arrow-circle-right"></i>
                                <a href="/newzips/realtor"><span>중개인으로 전환</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="/newzips">
                                    <img src="/assets/images/newzips_logo_1.png" alt="">
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="/newzips/itemList_user">
                                                매물검색
                                            </a>
                                         
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                방문예약
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/newzips/reservation_resident">거주자 예약</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">예약현황 확인</a>
                                            </div>
                                           
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                               제안
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="21_List_Layout_With_Map.html">제안받기</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">제안받은 매물</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="/newzips/wish">
                                               관심목록
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                    	
                                        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                                            <li class="nav-item signin-btn">
                                                <a class="nav-link" href="/newzips/login">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b id="header_login">로그인</b></span>
                                                </a>
                                                
                                            </li>

                                            <li class="nav-item submit-btn">
                                                <a href="/newzips/joinTerm" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <span>회원가입</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                                            <li class="nav-item signin-btn">
                                                <a class="nav-link" href="/newzips/logout">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b id="header_logout">로그아웃</b></span>
                                                </a>
                                                
                                            </li>

                                            <li class="nav-item submit-btn">
                                                <a href="/newzips/mypage" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <span>마이페이지</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header><!--header end-->
        
        		<!-- 검색 필터 -->
        <section class="form_sec">
            <h3 class="vis-hid">Invisible</h3>
            <div class="container">
                <form action="#" class="row banner-search">
                    <div class="form_field addres">
                        <input type="text" class="form-control" placeholder="Enter Address, City or State">
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>유형</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="gender">
                                <ul class="dropeddown">
                                    <li>매매</li>
                                    <li>임대</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>최소 가격</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="gender">
                                <ul class="dropeddown">
                                    <li>300$</li>
                                    <li>400$</li>
                                    <li>500$</li>
                                    <li>200$</li>
                                    <li>600$</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>최대 가격</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="gender">
                                <ul class="dropeddown">
                                    <li>2000</li>
                                    <li>3000</li>
                                    <li>4000</li>
                                    <li>5000</li>
                                    <li>6000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field srch-btn">
                        <a href="#" class="btn btn-outline-primary ">
                            <i class="la la-search"></i>
                        </a>
                    </div>
                </form>
            </div>
        </section><!--form_sec end-->
        
        <section class="property-single-pg">
            <div class="container">
                <div class="property-hd-sec">
                    <div class="card">
                        <div class="card-body">
                            <a href="#">                       
                                <h3 th:if="${dtoL.yearly_monthly}=='전세'">[[${dtoL.yearly_monthly}]] [[${dtoJ.yearlyFee_web}]]</h3>                                
                                <h3 th:if="${dtoL.yearly_monthly}=='월세'">[[${dtoL.yearly_monthly}]] [[${dtoW.deposit_web}]] / [[${dtoW.monthlyFee_web}]]</h3>                                
                                <p><i class="la la-map-marker"></i>[[${dtoL.addrDetail}]]</p>                            </a>
                            <ul>
                                <li>해당층/건물층&nbsp;&nbsp;&nbsp;[[${dtoR.roomFloor}]]층/[[${dtoB.totalFloors}]]층</li>
                                <li>방 수/욕실 수&nbsp;&nbsp;&nbsp;[[${dtoR.rooms}]]개/[[${dtoR.bathrooms}]]개</li>
                                <li>전용/공급면적&nbsp;&nbsp;&nbsp;[[${dtoR.area}]]㎡/[[${dtoR.supplyArea}]]㎡</li>
                            </ul>
                            
                        </div><!--card-body end-->
                        
                        <!-- <div class="rate-info">
                            <h5 th:text="${dtoL.yearly_monthly}"></h5>/ &nbsp;&nbsp;&nbsp;
                            <h5 th:text="${dtoL.yearly_monthly}">가격</h5>
                            <span>유형</span>
                        </div>rate-info end -->
                        <div class="rate-info" style="margin-top: 15px;">                        	
                            <button type="button" class="btn4">♥</button>
                            <button class="btn3" onclick="location.href='http://localhost:8080/newzips/reservation_user'">방문예약</button>                            
                            <button class="btn3" onclick="location.href='http://localhost:8080/newzips/contract_user'">매물계약</button>                            
                        </div>
                    </div><!--card end-->
                </div><!---property-hd-sec end-->
                <div class="property-single-page-content">
                    <div class="row">
                        <!-- <div class="col-lg-8 pl-0 pr-0"> -->
                            <div class="property-pg-left">
                                <div class="property-imgs">
                                    <div class="property-main-img">
                                    	<div class="property-img">
									        <img th:src="@{|/listing_images/${dtoR.itemId}/1.png|}" alt="">
									    </div>
                                    	<div class="property-img">
									        <img th:src="@{|/listing_images/${dtoR.itemId}/2.png|}" alt="">
									    </div>
                                    	<div class="property-img">
									        <img th:src="@{|/listing_images/${dtoR.itemId}/3.png|}" alt="">
									    </div>
                                    	<div class="property-img">
									        <img th:src="@{|/listing_images/${dtoR.itemId}/4.png|}" alt="">
									    </div>
                                    	<div class="property-img">
									        <img th:src="@{|/listing_images/${dtoR.itemId}/5.png|}" alt="">
									    </div>
                                    	<div class="property-img">
									        <img th:src="@{|/listing_images/${dtoR.itemId}/6.png|}" alt="">
									    </div>
                                    </div><!--property-main-img end-->
                                    <div class="property-thumb-imgs">
                                        <div class="row thumb-carous">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4" th:each="i : ${#numbers.sequence(1,6)}">
                                                <div class="property-img">
								                    <img th:src="@{|/listing_images/${dtoR.itemId}/${i}.png|}" alt="">
								                </div>

                                            </div>
                                            
                                        </div>
                                    </div><!--property-thumb-imgs end-->
                                </div><!--property-imgs end-->
                               
                                <div class="details-info">
                                    <h3>상세정보</h3>
                                    <ul>
                                        <li>
                                            <h4>매물번호:</h4>
                                            <span>[[${dtoR.itemId}]]</span>
                                        </li>
                                        <li>
                                            <h4>방종류:</h4>
                                            <span>[[${dtoR.roomType}]]</span>
                                        </li>                                       
                                        <li>
                                            <h4>해당층: </h4>
                                            <span>[[${dtoR.roomFloor}]]층</span>
                                        </li>
                                        <li>
                                            <h4>건물층: </h4>
                                            <span>[[${dtoB.totalFloors}]]층</span>
                                        </li>
                                        <li>
                                            <h4>전용면적: </h4>
                                            <span>[[${dtoR.area}]]㎡</span>
                                        </li>
                                        <li>
                                            <h4>욕실 수:</h4>
                                            <span>[[${dtoR.bathrooms}]]개</span>
                                        </li>
                                        <li>
                                            <h4>방 수:</h4>
                                            <span>[[${dtoR.rooms}]]개</span>
                                        </li>
                                        <li>
                                            <h4>방향:</h4>
                                            <span>[[${dtoR.roomDirection}]]</span>
                                            <span style="font-size: 5pt;">(주실 방향 기준)</span>
                                        </li>
                                        <li>
                                            <h4>난방종류:</h4>
                                            <span>[[${dtoR.heating}]]</span>
                                        </li>
                                        <li>
                                            <h4>건물주차:</h4>
                                            <span th:if="${dtoL.parking}=='F'">불가능</span>
                                            <span th:if="${dtoL.parking}=='T'">가능</span>
                                        </li>
                                        <li>
                                            <h4>엘리베이터:</h4>
                                            <span th:if="${dtoB.elevator}=='F'">없음</span>
                                            <span th:if="${dtoB.elevator}=='T'">있음</span>
                                        </li>
                                        <li>
                                            <h4>베란다/발코니:</h4>
                                            <span>[[${dtoR.balcony}]]</span>
                                        </li>
                                        <li>
                                            <h4>주용도:</h4>
                                            <span>[[${dtoB.buildingUse}]]</span>
                                        </li> 
                                        <li>
                                            <h4>입주가능일:</h4>
                                            <span>[[${dtoR.availableDate}]]</span>
                                        </li>
                                        <li>
                                            <h4>사용승인일(준공일):</h4>
                                            <span>[[${dtoB.approvalDate}]]</span>
                                        </li>
                                    </ul>
                                </div><!--details-info end-->
                                
                                <div class="features-dv">
								    <h3>옵션</h3>
								    <form class="form_field">
								        <ul>
								            <li class="input-field" th:each="option : ${#strings.arraySplit(dtoR.options, ',')}">
								                <input type="checkbox" name="cc" th:id="${option}" th:checked="true" />
								                <label for="${option}">
								                    <span></span>
								                    <small th:text="${option}"></small>
								                </label>
								            </li>
								        </ul>
								    </form>
								</div><!-- 옵션 끝 -->
								
								<div class="features-dv">
								    <h3>보안/안전시설</h3>
								    <form class="form_field">
								        <ul>
								            <li class="input-field" th:each="security : ${#strings.arraySplit(dtoB.secureFacility, ',')}">
								                <input type="checkbox" name="cc" th:id="${security}" th:checked="true" />
								                <label for="${security}">
								                    <span></span>
								                    <small th:text="${security}"></small>
								                </label>
								            </li>
								        </ul>
								    </form>
								</div><!-- 보안 끝 -->								
                                                                
                                <div class="floorplan">
                                    <h3>평면도</h3>
                                    <!-- <img src="https://via.placeholder.com/427x268" alt=""> -->
                                    <!-- <img src="/assets/images/suzi.jpg" alt=""> -->
                                    <img th:src="@{|/listing_images/${dtoR.itemId}/0.png|}" alt="">
                                </div><!--floorplan end-->
                                
                                <div class="map-dv">
                                    <h3 style="margin-bottom: 4px;">위치</h3>
                                    <span>[[${dtoL.addrDetail}]]</span>
                                    <div id="map-container" class="fullwidth-home-map">                                    	
                                        <div id="map" data-map-zoom="9"></div>
                                    </div>
                                </div><!--map-dv end-->
                                
                                <div class="nearby-locts">
                                    <h3>What's Nearby?</h3>
                                    <span>Powered by <img src="/assets/images/ylog.png" alt=""></span>
                                    <div class="widget-posts">
                                        <ul>
                                            <li>
                                                <div class="wd-posts">
                                                    <div class="ps-img">
                                                        <img src="https://via.placeholder.com/112x89" alt="">
                                                    </div><!--ps-img end-->
                                                    <div class="ps-info">
                                                        <h3><a href="#" title="">The Museum of Modern Art</a></h3>
                                                        <span><i class="la la-map-marker"></i>212 5th Ave, New York</span>
                                                    </div><!--ps-info end-->
                                                </div><!--wd-posts end-->
                                                <ul class="star-rating">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                </ul><!--star-rating end-->
                                            </li>
                                            <li>
                                                <div class="wd-posts">
                                                    <div class="ps-img">
                                                        <img src="https://via.placeholder.com/112x89" alt="">
                                                    </div><!--ps-img end-->
                                                    <div class="ps-info">
                                                        <h3><a href="#" title="">Joe's Shanghai</a></h3>
                                                        <span><i class="la la-map-marker"></i>212 5th Ave, New York</span>
                                                    </div><!--ps-info end-->
                                                </div><!--wd-posts end-->
                                                <ul class="star-rating">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                </ul><!--star-rating end-->
                                            </li>
                                            <li>
                                                <div class="wd-posts">
                                                    <div class="ps-img">
                                                        <img src="https://via.placeholder.com/112x89" alt="">
                                                    </div><!--ps-img end-->
                                                    <div class="ps-info">
                                                        <h3><a href="#" title="">Apple Fifth Avenue</a></h3>
                                                        <span><i class="la la-map-marker"></i>212 5th Ave, New York</span>
                                                    </div><!--ps-info end-->
                                                </div><!--wd-posts end-->
                                                <ul class="star-rating">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                </ul><!--star-rating end-->
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--nearby-locts end-->
                                
                                <div class="comments-dv">
                                    <h3>리뷰 X개</h3>	
                                    
                                    <div class="comment-section">
                                        <ul>
                                            <li>
                                                <div class="cm-info-sec">
                                                    <div class="cm-info">
                                                        <h3>이름1</h3>
                                                        <h4>교통&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┃</h4>
                                                        <h4>편의시설&nbsp;┃</h4>
                                                        <h4>거주환경&nbsp;┃</h4>
                                                        <h4>건물관리&nbsp;┃</h4>
                                                    </div>
                                                    <ul class="rating-lst">
                                                    	<li>총점 : </li>                                                       
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                    </ul><!--rating-lst end-->
                                                </div><!--cm-info-sec end-->                                                
                                                <p>'뭐해?'라는 두 글자에 '네가 보고 싶어' 나의 속마음을 담아 우~ 이모티콘 하나하나 속에 달라지는 내 미묘한 심리를 알까 우~
                                                아니 바쁘지 않아 nothing no no 잠들어 있지 않아 insomnia-nia-nia 지금 다른 사람과 함께이지 않아 
                                                응, 나도 너를 생각 중 우리의 네모 칸은 bloom 엄지손가락으로 장미꽃을 피워 향기에 취할 것 같아 우 오직 둘만의 비밀의 정원</p>                                                	
	                                            <span class="cm-reply_date">2023-04-10</span>
	                                            <a href="#" title="" class="cm-reply">삭제</a>                                         
                                            </li>
                                            <li>
                                                <div class="cm-info-sec">
                                                    <div class="cm-img">
                                                        <img src="https://via.placeholder.com/79x79" alt="">
                                                    </div><!--author-img end-->
                                                    <div class="cm-info">
                                                        <h3>이름1</h3>
                                                        <h4>2023-04-10</h4>
                                                    </div>
                                                    <ul class="rating-lst">
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                    </ul><!--rating-lst end-->
                                                </div><!--cm-info-sec end-->
                                                <p>리뷰내용</p>
                                                <a href="#" title="" class="cm-reply">삭제</a>
                                            </li>
                                            <li>
                                                <div class="cm-info-sec">
                                                    <div class="cm-info">
                                                        <h3>이름2</h3>
                                                        <h4>2023-04-10</h4>
                                                    </div>
                                                    
                                                    <ul class="rating-lst">
                                                    	<li>총점 : </li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                    </ul><!--rating-lst end-->
                                                    <div>
                                                    	<ul class="rating-lst">
	                                                    	<li>교통 : </li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
                                                    	</ul><!--rating-lst end-->
                                                    	<ul class="rating-lst">
	                                                    	<li>교통 : </li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
                                                    	</ul><!--rating-lst end-->
                                                    <div class="cm-info">
                                                        <ul class="rating-lst">
	                                                    	<li>교통 : </li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
                                                    	</ul>
                                                    </div>
                                                    </div>
                                                </div><!--cm-info-sec end-->
                                                <p>리뷰내용</p>
                                                <a href="#" title="" class="cm-reply">삭제</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review-hd">
                                        <div class="rev-hd">
                                            <h3>리뷰작성</h3>
                                            <ul class="rating-lst">
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                            </ul><!--rating-lst end-->
                                        </div><!--rev-hd end-->
                                        <div class="post-comment-sec">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 pl-0">
                                                        <div class="form-field">
                                                            <input type="text" name="name" placeholder="이름">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-4 col-md-4">
                                                        <div class="form-field">
                                                            <input type="text" name="email" placeholder="이메일">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 pr-0">
                                                        <div class="form-field">
                                                            <input type="text" name="phone" placeholder="전화번호">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-12 pl-0 pr-0">
                                                        <div class="form-field">
                                                            <textarea name="message" placeholder="내용"></textarea>
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-12 pl-0 pr-0">
                                                        <button type="submit" class="btn-default">작성하기</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!--post-comment-sec end-->
                                    </div><!--review-hd end-->
                                </div><!--comments-dv end-->
                                
                            </div><!--property-pg-left end-->
                        <!-- </div> -->
                        
                        
                    </div>
                </div><!--property-single-page-content end-->
            </div>
        </section><!--property-single-pg end-->

     	<div th:fragment="footerFragment" class="footer">
        
                <a href="#" title="">    
            <section class="cta st2 section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cta-text">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
           <section class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 col-md-4">
                        <div class="bottom-logo">
                            <img src="/assets/images/newzips_logo_1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                  	<div class="office2">
						<div>(주)뉴집스</div>
						<div>대표 : 이수진</div> 
						<span>사업자 번호 : 137-22-1122</span>&nbsp;&nbsp;
						<span>통신판매업신고번호 : 제2013-서울-강남-137호</span>
						<div>주소 : 서울시 어쩌구 저쩌구</div>
						<span>고객센터 : 02-1234-5678</span>
						<span>┃</span>
						<span>평일 10:00 ~ 18:30, 점심시간 12:00 ~ 13:00(토·일요일,공휴일 휴무)</span>
						<div>팩스 : 02-123-1234</div>
						<span>프로모션/사업 제휴문의 : aaa@aaaa.co.kr</span>
					</div>

                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-content">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-md-6">
                                    <div class="copyright">
                                        <p>&copy; Newzip's. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div><!--footer end-->
        
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/html5lightbox.js"></script>
    <script src="/assets/js/lib/slick/slick.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- 지도(위치) -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwc4veKudU0qjYrLrrQXacCkDkcy3AeQ"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/map2.js"></script> -->
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a350cf3a083e1d8a21da1a30968a2b4a&libraries=services"></script>
	<script th:inline="javascript">
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = { 
		        center: new kakao.maps.LatLng(127,37), // 지도의 중심좌표
		        level: 3 // 지도의 확대 레벨
		    };
		var map = new kakao.maps.Map(mapContainer, mapOption); 
		
		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();
		
		/* var test = [[${dtoL.addrDetail}]];

		$(document).ready(function() {

		alert(test);

		}); */
				
		// 주소로 좌표를 검색합니다
		geocoder.addressSearch([[${dtoL.addrDetail}]], function(result, status) {

		    // 정상적으로 검색이 완료됐으면 
		     if (status === kakao.maps.services.Status.OK) {

		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });

		        /* // 인포윈도우로 장소에 대한 설명을 표시합니다
		        var infowindow = new kakao.maps.InfoWindow({
		            content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
		        });
		        infowindow.open(map, marker); */

		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		    } 
		});  
		
		
	</script>



</body>

</html>