<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>매물 상세정보(user)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/js/lib/slick/slick.css">
    <link rel="stylesheet" href="/assets/js/lib/slick/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/style2.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <div class="wrapper">

      	<header>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="01_Home.html">
                                    <img src="/assets/images/logo.png" alt="">
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                메인
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="01_Home.html">01_Home</a>
                                                <a class="dropdown-item" href="02_Home.html">02_Home</a>
                                                <a class="dropdown-item" href="03_Home.html">03_Home</a>
                                                <a class="dropdown-item" href="04_Home.html">04_Home</a>
                                                <a class="dropdown-item" href="05_Home.html">05_Home</a>
                                                <a class="dropdown-item" href="06_Home.html">06_Home</a>
                                                <a class="dropdown-item" href="07_Home_Categories_and_Advanced_Search.html">07_Home</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                Features
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="17_Features_Example_Alt_Titlebar.html">Features Example</a>
                                                <a class="dropdown-item" href="18_Half_Map.html">18_Half_Map </a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                Listing
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="21_List_Layout_With_Map.html">List Layout with Map</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">List Layout with Sidebar</a>
                                                <a class="dropdown-item" href="11_Agent_Profile.html">Agent Profile</a>
                                                <a class="dropdown-item active" href="24_Property_Single.html">Property Single</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
                                                Pages
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="12_Blog_Grid.html">Blog Grid</a>
                                                <a class="dropdown-item" href="13_Blog_Standart.html">Blog Standard</a>
                                                <a class="dropdown-item" href="14_Blog_Open.html">Blog Open</a>
                                                <a class="dropdown-item" href="10_About.html">About</a>
                                                <a class="dropdown-item" href="15_Contact.html">Contact</a>
                                                <a class="dropdown-item" href="09_404.html">404</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                        <ul class="navbar-nav">
                                            <li class="nav-item signin-btn">
                                                <a href="#" class="nav-link">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b class="signin-op">로그인</b> or <b class="reg-op">회원가입</b></span>
                                                </a>

                                            </li>
                                            <li class="nav-item submit-btn">
                                                <a href="#" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <i class="icon-plus"></i>
                                                    <span>Submit Listing</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--header end-->

		<!-- 로그인 팝업 창 -->
        <div class="popup" id="sign-popup">
            <h3>Sign In to your Account</h3>
            <div class="popup-form">
                <form>
                    <div class="form-field">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="Password">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc1">
                                <label for="cc1">
                                    <span></span>
                                    <small>Remember me</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="">Forgot Password?</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">Sign In</button>
                </form>
                <a href="#" title="" class="fb-btn"> <i class="fa fa-facebook"></i>Sign In With Facebook</a>
            </div>
        </div><!--popup end-->
		
		<!-- 회원가입 팝업 창 -->
        <div class="popup" id="register-popup">
            <h3>Register</h3>
            <div class="popup-form">
                <form>
                    <div class="form-field">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-field">
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="Password">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc2">
                                <label for="cc2">
                                    <span></span>
                                    <small>I agree with terms</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="" class="signin-op">Have an account?</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">Register</button>
                </form>
            </div>
        </div><!--popup end-->

		<!-- 검색 필터 -->
        <section class="form_sec">
            <h3 class="vis-hid">Invisible</h3>
            <div class="container">
                <form action="#" class="row banner-search">
                    <div class="form_field addres">
                        <input type="text" class="form-control" placeholder="Enter Address, City or State">
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>유형</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="gender">
                                <ul class="dropeddown">
                                    <li>매매</li>
                                    <li>임대</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>최소 가격</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="gender">
                                <ul class="dropeddown">
                                    <li>300$</li>
                                    <li>400$</li>
                                    <li>500$</li>
                                    <li>200$</li>
                                    <li>600$</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>최대 가격</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="gender">
                                <ul class="dropeddown">
                                    <li>2000</li>
                                    <li>3000</li>
                                    <li>4000</li>
                                    <li>5000</li>
                                    <li>6000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field srch-btn">
                        <a href="#" class="btn btn-outline-primary ">
                            <i class="la la-search"></i>
                        </a>
                    </div>
                </form>
            </div>
        </section><!--form_sec end-->

        <section class="property-single-pg">
            <div class="container">
                <div class="property-hd-sec">
                    <div class="card">
                        <div class="card-body">
                            <a href="#">                       
                                <h3 th:if="${dtoL.yearly_monthly}=='전세'">[[${dtoL.yearly_monthly}]] [[${dtoJ.yearlyFee_web}]]</h3>                                
                                <h3 th:if="${dtoL.yearly_monthly}=='월세'">[[${dtoL.yearly_monthly}]] [[${dtoW.deposit_web}]] / [[${dtoW.monthlyFee_web}]]</h3>                                
                                <p><i class="la la-map-marker"></i>[[${dtoL.addrDetail}]]</p>                            </a>
                            <ul>
                                <li>해당층/건물층&nbsp;&nbsp;&nbsp;[[${dtoR.roomFloor}]]층/[[${dtoB.totalFloors}]]층</li>
                                <li>방 수/욕실 수&nbsp;&nbsp;&nbsp;[[${dtoR.rooms}]]개/[[${dtoR.bathrooms}]]개</li>
                                <li>전용/공급면적&nbsp;&nbsp;&nbsp;[[${dtoR.area}]]㎡/[[${dtoR.supplyArea}]]㎡</li>
                            </ul>
                            
                        </div><!--card-body end-->
                        
                        <!-- <div class="rate-info">
                            <h5 th:text="${dtoL.yearly_monthly}"></h5>/ &nbsp;&nbsp;&nbsp;
                            <h5 th:text="${dtoL.yearly_monthly}">가격</h5>
                            <span>유형</span>
                        </div>rate-info end -->
                        <div class="rate-info" style="margin-top: 15px;">                        	
                            <button type="button" class="btn4">♥</button>
                            <button class="btn3" onclick="location.href='http://localhost:8080/newzips/reservation_user_contract1'">방문예약</button>                            
                            <button class="btn3" onclick="location.href='http://localhost:8080/newzips/reservation_user_contract1'">매물계약</button>                            
                        </div>
                    </div><!--card end-->
                </div><!---property-hd-sec end-->
                <div class="property-single-page-content">
                    <div class="row">
                        <!-- <div class="col-lg-8 pl-0 pr-0"> -->
                            <div class="property-pg-left">
                                <div class="property-imgs">
                                    <div class="property-main-img">
                                        <div class="property-img">
                                            <img src="/assets/images/3428_main.png" alt="">
                                        </div><!--property-img end-->
                                        <div class="property-img">
                                            <img src="/assets/images/3428_main2.png" alt="">
                                        </div><!--property-img end-->
                                        <div class="property-img">
                                            <img src="https://via.placeholder.com/770x515" alt="">
                                        </div><!--property-img end-->
                                        <div class="property-img">
                                            <img src="https://via.placeholder.com/770x515" alt="">
                                        </div><!--property-img end-->
                                        <div class="property-img">
                                            <img src="https://via.placeholder.com/770x515" alt="">
                                        </div><!--property-img end-->
                                        <div class="property-img">
                                            <img src="https://via.placeholder.com/770x515" alt="">
                                        </div><!--property-img end-->
                                    </div><!--property-main-img end-->
                                    <div class="property-thumb-imgs">
                                        <div class="row thumb-carous">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="property-img">
                                                    <img src="/assets/images/3428_main.png" alt="">
                                                </div><!--property-img end-->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="property-img">
                                                    <img src="/assets/images/3428_main2.png" alt="">
                                                </div><!--property-img end-->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="property-img">
                                                    <img src="https://via.placeholder.com/226x150" alt="">
                                                </div><!--property-img end-->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="property-img">
                                                    <img src="https://via.placeholder.com/226x150" alt="">
                                                </div><!--property-img end-->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="property-img">
                                                    <img src="https://via.placeholder.com/226x150" alt="">
                                                </div><!--property-img end-->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="property-img">
                                                    <img src="https://via.placeholder.com/226x150" alt="">
                                                </div><!--property-img end-->
                                            </div>
                                        </div>
                                    </div><!--property-thumb-imgs end-->
                                </div><!--property-imgs end-->
                               
                                <div class="details-info">
                                    <h3>상세정보</h3>
                                    <ul>
                                        <li>
                                            <h4>매물번호:</h4>
                                            <span>[[${dtoR.itemId}]]</span>
                                        </li>
                                        <li>
                                            <h4>방종류:</h4>
                                            <span>[[${dtoR.roomType}]]</span>
                                        </li>                                       
                                        <li>
                                            <h4>해당층: </h4>
                                            <span>[[${dtoR.roomFloor}]]층</span>
                                        </li>
                                        <li>
                                            <h4>건물층: </h4>
                                            <span>[[${dtoB.totalFloors}]]층</span>
                                        </li>
                                        <li>
                                            <h4>전용면적: </h4>
                                            <span>[[${dtoR.area}]]㎡</span>
                                        </li>
                                        <li>
                                            <h4>욕실 수:</h4>
                                            <span>[[${dtoR.bathrooms}]]개</span>
                                        </li>
                                        <li>
                                            <h4>방 수:</h4>
                                            <span>[[${dtoR.rooms}]]개</span>
                                        </li>
                                        <li>
                                            <h4>방향:</h4>
                                            <span>[[${dtoR.roomDirection}]]</span>
                                            <span style="font-size: 5pt;">(주실 방향 기준)</span>
                                        </li>
                                        <li>
                                            <h4>난방종류:</h4>
                                            <span>[[${dtoR.heating}]]</span>
                                        </li>
                                        <li>
                                            <h4>건물주차:</h4>
                                            <span th:if="${dtoL.parking}=='F'">불가능</span>
                                            <span th:if="${dtoL.parking}=='T'">가능</span>
                                        </li>
                                        <li>
                                            <h4>엘리베이터:</h4>
                                            <span th:if="${dtoB.elevator}=='F'">없음</span>
                                            <span th:if="${dtoB.elevator}=='T'">있음</span>
                                        </li>
                                        <li>
                                            <h4>베란다/발코니:</h4>
                                            <span>[[${dtoR.balcony}]]</span>
                                        </li>
                                        <li>
                                            <h4>주용도:</h4>
                                            <span>[[${dtoB.buildingUse}]]</span>
                                        </li> 
                                        <li>
                                            <h4>입주가능일:</h4>
                                            <span>[[${dtoR.availableDate}]]</span>
                                        </li>
                                        <li>
                                            <h4>사용승인일(준공일):</h4>
                                            <span>[[${dtoB.approvalDate}]]</span>
                                        </li>
                                    </ul>
                                </div><!--details-info end-->
                                
                                <div class="features-dv">
								    <h3>옵션</h3>
								    <form class="form_field">
								        <ul>
								            <li class="input-field" th:each="option : ${#strings.arraySplit(dtoR.options, ',')}">
								                <input type="checkbox" name="cc" th:id="${option}" th:checked="true" />
								                <label for="${option}">
								                    <span></span>
								                    <small th:text="${option}"></small>
								                </label>
								            </li>
								        </ul>
								    </form>
								</div><!-- 옵션 끝 -->
								
								<div class="features-dv">
								    <h3>보안/안전시설</h3>
								    <form class="form_field">
								        <ul>
								            <li class="input-field" th:each="security : ${#strings.arraySplit(dtoB.secureFacility, ',')}">
								                <input type="checkbox" name="cc" th:id="${security}" th:checked="true" />
								                <label for="${security}">
								                    <span></span>
								                    <small th:text="${security}"></small>
								                </label>
								            </li>
								        </ul>
								    </form>
								</div><!-- 보안 끝 -->								
                                                                
                                <div class="floorplan">
                                    <h3>평면도</h3>
                                    <!-- <img src="https://via.placeholder.com/427x268" alt=""> -->
                                    <img src="/assets/images/suzi.jpg" alt="">
                                </div><!--floorplan end-->
                                
                                <div class="map-dv">
                                    <h3>위치</h3>
                                    <div id="map-container" class="fullwidth-home-map">
                                        <div id="map" data-map-zoom="9"></div>
                                    </div>
                                </div><!--map-dv end-->
                                
                                <div class="nearby-locts">
                                    <h3>What's Nearby?</h3>
                                    <span>Powered by <img src="/assets/images/ylog.png" alt=""></span>
                                    <div class="widget-posts">
                                        <ul>
                                            <li>
                                                <div class="wd-posts">
                                                    <div class="ps-img">
                                                        <img src="https://via.placeholder.com/112x89" alt="">
                                                    </div><!--ps-img end-->
                                                    <div class="ps-info">
                                                        <h3><a href="#" title="">The Museum of Modern Art</a></h3>
                                                        <span><i class="la la-map-marker"></i>212 5th Ave, New York</span>
                                                    </div><!--ps-info end-->
                                                </div><!--wd-posts end-->
                                                <ul class="star-rating">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                </ul><!--star-rating end-->
                                            </li>
                                            <li>
                                                <div class="wd-posts">
                                                    <div class="ps-img">
                                                        <img src="https://via.placeholder.com/112x89" alt="">
                                                    </div><!--ps-img end-->
                                                    <div class="ps-info">
                                                        <h3><a href="#" title="">Joe's Shanghai</a></h3>
                                                        <span><i class="la la-map-marker"></i>212 5th Ave, New York</span>
                                                    </div><!--ps-info end-->
                                                </div><!--wd-posts end-->
                                                <ul class="star-rating">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                </ul><!--star-rating end-->
                                            </li>
                                            <li>
                                                <div class="wd-posts">
                                                    <div class="ps-img">
                                                        <img src="https://via.placeholder.com/112x89" alt="">
                                                    </div><!--ps-img end-->
                                                    <div class="ps-info">
                                                        <h3><a href="#" title="">Apple Fifth Avenue</a></h3>
                                                        <span><i class="la la-map-marker"></i>212 5th Ave, New York</span>
                                                    </div><!--ps-info end-->
                                                </div><!--wd-posts end-->
                                                <ul class="star-rating">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                </ul><!--star-rating end-->
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--nearby-locts end-->
                                
                                <div class="comments-dv">
                                    <h3>리뷰 X개</h3>	
                                    
                                    <div class="comment-section">
                                        <ul>
                                            <li>
                                                <div class="cm-info-sec">
                                                    <div class="cm-info">
                                                        <h3>이름1</h3>
                                                        <h4>교통&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┃</h4>
                                                        <h4>편의시설&nbsp;┃</h4>
                                                        <h4>거주환경&nbsp;┃</h4>
                                                        <h4>건물관리&nbsp;┃</h4>
                                                    </div>
                                                    <ul class="rating-lst">
                                                    	<li>총점 : </li>                                                       
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                    </ul><!--rating-lst end-->
                                                </div><!--cm-info-sec end-->                                                
                                                <p>'뭐해?'라는 두 글자에 '네가 보고 싶어' 나의 속마음을 담아 우~ 이모티콘 하나하나 속에 달라지는 내 미묘한 심리를 알까 우~
                                                아니 바쁘지 않아 nothing no no 잠들어 있지 않아 insomnia-nia-nia 지금 다른 사람과 함께이지 않아 
                                                응, 나도 너를 생각 중 우리의 네모 칸은 bloom 엄지손가락으로 장미꽃을 피워 향기에 취할 것 같아 우 오직 둘만의 비밀의 정원</p>                                                	
	                                            <span class="cm-reply_date">2023-04-10</span>
	                                            <a href="#" title="" class="cm-reply">삭제</a>                                         
                                            </li>
                                            <li>
                                                <div class="cm-info-sec">
                                                    <div class="cm-img">
                                                        <img src="https://via.placeholder.com/79x79" alt="">
                                                    </div><!--author-img end-->
                                                    <div class="cm-info">
                                                        <h3>이름1</h3>
                                                        <h4>2023-04-10</h4>
                                                    </div>
                                                    <ul class="rating-lst">
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                    </ul><!--rating-lst end-->
                                                </div><!--cm-info-sec end-->
                                                <p>리뷰내용</p>
                                                <a href="#" title="" class="cm-reply">삭제</a>
                                            </li>
                                            <li>
                                                <div class="cm-info-sec">
                                                    <div class="cm-info">
                                                        <h3>이름2</h3>
                                                        <h4>2023-04-10</h4>
                                                    </div>
                                                    
                                                    <ul class="rating-lst">
                                                    	<li>총점 : </li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                        <li><span class="la la-star"></span></li>
                                                    </ul><!--rating-lst end-->
                                                    <div>
                                                    	<ul class="rating-lst">
	                                                    	<li>교통 : </li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
                                                    	</ul><!--rating-lst end-->
                                                    	<ul class="rating-lst">
	                                                    	<li>교통 : </li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
                                                    	</ul><!--rating-lst end-->
                                                    <div class="cm-info">
                                                        <ul class="rating-lst">
	                                                    	<li>교통 : </li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
	                                                        <li><span class="la la-star"></span></li>
                                                    	</ul>
                                                    </div>
                                                    </div>
                                                </div><!--cm-info-sec end-->
                                                <p>리뷰내용</p>
                                                <a href="#" title="" class="cm-reply">삭제</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review-hd">
                                        <div class="rev-hd">
                                            <h3>리뷰작성</h3>
                                            <ul class="rating-lst">
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                                <li><span class="la la-star"></span></li>
                                            </ul><!--rating-lst end-->
                                        </div><!--rev-hd end-->
                                        <div class="post-comment-sec">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 pl-0">
                                                        <div class="form-field">
                                                            <input type="text" name="name" placeholder="이름">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-4 col-md-4">
                                                        <div class="form-field">
                                                            <input type="text" name="email" placeholder="이메일">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 pr-0">
                                                        <div class="form-field">
                                                            <input type="text" name="phone" placeholder="전화번호">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-12 pl-0 pr-0">
                                                        <div class="form-field">
                                                            <textarea name="message" placeholder="내용"></textarea>
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-12 pl-0 pr-0">
                                                        <button type="submit" class="btn-default">작성하기</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!--post-comment-sec end-->
                                    </div><!--review-hd end-->
                                </div><!--comments-dv end-->
                                
                            </div><!--property-pg-left end-->
                        <!-- </div> -->
                        
                        
                    </div>
                </div><!--property-single-page-content end-->
            </div>
        </section><!--property-single-pg end-->

        <a href="#" title="">    
            <section class="cta section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cta-text">
                                <h2>Discover a home you'll love to stay</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>

     	<section class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 col-md-4">
                        <div class="bottom-logo">
                            <img src="/assets/images/logo.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-3">
                        <div class="bottom-list">
                            <h3>Helpful Links</h3>
                            <ul>
                                <li>
                                    <a href="18_Half_Map.html" title="">Half Map</a>
                                </li>
                                <li>
                                    <a href="#" title="">Register</a>
                                </li>
                                <li>
                                    <a href="#" title="">Pricing</a>
                                </li>
                                <li>
                                    <a href="#" title="">Add Listing</a>
                                </li>
                            </ul>
                        </div><!--bottom-list end-->
                    </div>
                    <div class="col-xl-5 col-sm-12 col-md-5 pl-0">
                        <div class="bottom-desc">
                            <h3>Aditional Information</h3>
                            <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-content">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-md-6">
                                    <div class="copyright">
                                        <p>&copy; Selio theme made in EU. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="footer-social">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div><!--wrapper end-->


    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/html5lightbox.js"></script>
    <script src="/assets/js/lib/slick/slick.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwc4veKudU0qjYrLrrQXacCkDkcy3AeQ"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/map2.js"></script>



</body>

</html>