<html layout:decorate="~{user/layout_user}">
<meta charset="UTF-8">


<div layout:fragment="content"> 
	<div class="theme-layout">
	
	<section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>회원가입</h3>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span>Agent Profile</span></li>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>
	
	<section class="page-main-content section-padding">
	<div class="col-xl-4 col-lg-3 col-md-12 pr-0">
                            <div class="contact-agent">

                                <form action="">
                                	<div class="form-field">
                                        아이디 <input type="text" name="userId" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="password" name="password" placeholder="Password">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="password" name="username" placeholder="Username">
                                    </div><!--form-field end-->

                                    <div class="form-field">
                                        <button type="submit" class="btn2">로그인</button>
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    <div class="form-field">
                                        <input type="text" name="username" placeholder="Username">
                                    </div><!--form-field end-->
                                    
                                </form>
                            </div><!--contact-agent end-->
                        </div>
	</section>
	
	</div>
</div>


</html>