<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">
	<!-- 별도로 적용하는 css파일있으면 link해주기 -->
    <link rel="stylesheet" href="/assets/css/login.css">

 <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>회원가입</h3>
                    <ul>

                    </ul>
                </div>
            </div>
        </section>

		<!-- 회원가입 정보 입력 -->
		<section class="page-main-content section-padding">
		  <div class="container">
		    <div class="login">
		      <div style="margin-top: 40px"></div>
		      
		      <div class="login-form-field">
		      <img src="/assets/images/newzips_logo_1.png" alt="logo">
		      </div>

		      <form th:object="${memberDTO}" th:action="@{/newzips/join}" name="joinForm" method="post">
		      
		      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		        
		        <div style="margin-bottom: 10px"></div>
		        
		        <div class="login-form-field">
		        <p class="input-description"><strong>아이디</strong></p>
		          <input type="text" th:field="*{userId}" placeholder="아이디">
		        <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="input-error"></p>
		        </div>
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        <p class="input-description"><strong>비밀번호</strong></p>
		          <input type="password" th:field="*{userPwd}" placeholder="비밀번호">
		          <p th:if="${#fields.hasErrors('userPwd')}" th:errors="*{userPwd}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        <p class="input-description"><strong>비밀번호 확인</strong></p>
		          <input type="password" th:field="*{userPwd2}" placeholder="비밀번호 확인">
		          <p th:if="${#fields.hasErrors('userPwd2')}" th:errors="*{userPwd2}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
				<p class="input-description"><strong>이름</strong></p>
		          <input type="text" th:field="*{userName}" placeholder="이름">
		          <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>핸드폰 번호</strong></p>
		          <input type="text" th:field="*{userPhone}" placeholder="핸드폰 번호">
		          <p th:if="${#fields.hasErrors('userPhone')}" th:errors="*{userPhone}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>생년월일</strong></p>
		          <input type="text" th:field="*{userBirth}" placeholder="생년월일 8자리">
		          <p th:if="${#fields.hasErrors('userBirth')}" th:errors="*{userBirth}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>주소</strong></p>
		          <input type="text" th:field="*{userZipCode}" placeholder="우편번호" readonly onclick="findAddr()">
		          <p th:if="${#fields.hasErrors('userZipCode')}" th:errors="*{userZipCode}" class="input-error"></p>
		        </div>

		        <div class="login-form-field">
		          <input type="text" th:field="*{userAddr}" placeholder="주소" readonly>
		          <p th:if="${#fields.hasErrors('userAddr')}" th:errors="*{userAddr}" class="input-error"></p>
		        </div>

		        <div class="login-form-field">
		          <input type="text" th:field="*{userDetailedAddr}" placeholder="상세주소">
		          <p th:if="${#fields.hasErrors('userDetailedAddr')}" th:errors="*{userDetailedAddr}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>이메일</strong></p>
		          <input type="text" th:field="*{userEmail}" placeholder="이메일">
		          <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="input-error"></p>
		        </div>
		        
		        
		        <div style="margin-top: 20px"></div>
		        
		        
				<!-- login-check-field 끝 -->
				
		      <div style="margin-top: 20px"></div>
			
			<div style="margin-top: 40px"></div>
		    
		    <!-- 로그인 버튼 -->                                                                                                                
		      <div class="login-form-field">
		        <button type="submit" class="btn2">회원가입</button>
		      </div>
		      
		    </form>
		    <!-- joinForm 끝 -->
		    
		    <div style="margin-top: 20px"></div>
		   
		    
		    <div style="margin-top: 10px"></div>
		    

		  </div>
		  
		</div>
		</section>



<script type="text/javascript">

function findAddr(){
	new daum.Postcode({
        oncomplete: function(data) {
        	
        	console.log(data);
        	
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var jibunAddr = data.jibunAddress; // 지번 주소 변수
            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('userZipCode').value = data.zonecode;
            if(jibunAddr !== ''){
                document.getElementById("userAddr").value = jibunAddr;
            }
            else if(roadAddr !== ''){
                document.getElementById("userAddr").value = roadAddr;
            } 

        }
    }).open();
}

function sendIt(){
	
	var f = document.joinForm;
	
	f.submit();
	
}


</script>


</div><!--layout fragment end-->


</html>