<!doctype html>
<html class="no-js" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>Newzip's</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style_test.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    
    <style>
		body{
		   font-family: 'Pretendard';
		}
	</style>
	
</head>
<body>

<div class="wrapper">

	<!-- header.html의 headerFragment 사용 -->
	<th:block th:replace="user/header_user :: headerFragment"></th:block>
	
	<!-- 현재 layout의 content사용이라는데 걍 변경되는 어쩌구인 듯 -->
	<th:block layout:fragment="content"></th:block>
	
	<!-- footer.html의 footerFragment 사용 -->
	<th:block th:replace="user/footer_user :: footerFragment"></th:block>

</div><!-- warpper end -->

</body>

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/scripts2.js"></script>
    <script src="/assets/js/newzips.js"></script>
    <script src="/assets/js/reservation.js"></script>
    <script src="/assets/js/searchInput.js"></script>
     <script src="/assets/js/searchajax.js"></script>
    <!-- <script src="/assets/js/Load More.js"></script> -->

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/maps.js"></script>
    
    <!-- 주소 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <!-- 달력 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</html>