<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">


<div layout:fragment="content">
    <link rel="stylesheet" href="/assets/css/login.css">

		<!-- 아이디 찾기 팝업 -->
        <div class="popup" id="sign-popup">
            <h3>아이디 찾기</h3>
            <div class="popup-form">
                <form th:action="@{/newzips/findID}" method="post">
             		    <input type="hidden" th:name="${_csrf.parameterName}" id="token" th:value="${_csrf.token}"/>
                    <div class="form-field">
                        <input type="text" name="userName" id="userName" placeholder="이름">  
                    </div>
                    <div class="form-field">
                        <input type="text" name="userPhone" id="userPhone" placeholder="핸드폰 번호">
                    </div>

                    <button type="button" class="btn2" onclick="findId()">아이디 찾기</button>
                    
                </form>
            </div>
        </div><!--popup end-->
        
		<!-- 아이디 찾기 팝업 -->
        <div class="popup" id="register-popup">
            <h3>아이디 찾기</h3>
            <div class="popup-form">
                <form th:action="@{/newzips/findPwd}" method="post">
             		    <input type="hidden" th:name="${_csrf.parameterName}" id="token" th:value="${_csrf.token}"/>
             		    
                    <div class="form-field">
                        <input type="text" name="userId" id="userId" placeholder="아이디">  
                    </div>
                    <div class="form-field">
                        <input type="text" name="userName" id="userName" placeholder="이름">  
                    </div>
                    <div class="form-field">
                        <input type="text" name="userPhone" id="userPhone" placeholder="핸드폰 번호">
                    </div>

                    <button type="button" class="btn2" onclick="findPwd()">비밀번호 찾기</button>
                    
                </form>
            </div>
        </div><!--popup end-->
 
 
        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>로그인</h3>
                </div>
            </div>
        </section>

		<!-- 아이디 비밀번호 입력 -->
		<section class="page-main-content section-padding">
		  <div class="container">
		    <div class="login">
		      <div style="margin-top: 40px"></div>
		      <div class="login-form-field">
		      <img src="/assets/images/newzips_logo_1.png" alt="logo">
		      </div>
		      <form th:object="${memberDTO}" tf:action="@{http://localhost:8080/newzips/login}" method="post">
		      
		      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		        
		        <div style="margin-bottom: 10px"></div>
		        
		        <div class="login-form-field">
		          <input type="text" th:field="*{userId}" placeholder="아이디">
		        </div>
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		          <input type="password" th:field="*{userPwd}" placeholder="비밀번호">
		        </div>
		      <div style="margin-top: 20px"></div>		        
		        <div th:if="${error != null}">

		        <div class="login-form-field">
					<p class="input-error">[[${error}]]</p>
		        </div>
		        		      <div style="margin-top: 10px"></div>
		        </div>
		        		      
			<div style="margin-left: 50px"></div>
			<div class="login-check-field">
			<input type= "checkbox" id="select1" name="check" onclick=""/>
		       <label for="select1"></label>&nbsp;&nbsp;아이디 저장
			</div>
			
			<div style="margin-top: 10px"></div>
		    
		    <!-- 로그인 버튼 -->                                                                                                                
		      <div class="login-form-field">
		        <button type="submit" class="btn2">로그인</button>
		      </div>
		    </form>
		    
		    <div style="margin-top: 20px"></div>
		    
		    <div class="login-check-field">
		     <span><a href="#"><span class="signin-op">아이디 찾기</span></a> ｜ <a href="#"><span class="reg-op">비밀번호 찾기</span></a></span>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <a th:href="@{/newzips/joinTerm}" class="a-right">회원가입</a>
		    </div>
		    <!-- <div class="login-form-field"> -->
		    <div class="d-inline my-2 my-lg-0">
		        

		    </div>
		    
		    <div style="margin-top: 10px"></div>
		    
		    <div class="login-form-field">
		    <div>─────────────── 또는 ────────────────</div>
		    </div>
		    
		    <div class="login-form-field">
		    <div class="social-container">
		    <a href="/oauth2/authorization/google"><img src="/assets/images/google.png" alt="Google 로고"></a>
				<a href="/oauth2/authorization/kakao"><img src="/assets/images/kakao.png" alt="카카오 로고"></a>
				<a href="/oauth2/authorization/naver" ><img src="/assets/images/naver.png" alt="네이버 로고"></a>
		    </div>
		    </div>
		    
		  </div>
		  
		</div>
		</section>

<script type="text/javascript">

	function findId() {
    	
    	var url = "/newzips/findId";
    	
    	var header = $("meta[name='_csrf_header']").attr('content');
    	var token = $("meta[name='_csrf']").attr('content');
    	
    	var userName = $("#userName").val();
    	var userPhone = $("#userPhone").val();

    	//var params = "userName=" + userName + "&userPhone=" + userPhone;
    	
		$.ajax({
				
			url:url,
			type:"post",
			data:{userName:userName, userPhone:userPhone}, 
			success:function(mav){
			
				replaceHTML = "<div class='popup-form'><div style='margin-top: 40px'></div>";
				
				if ((mav.userId) != null) {
					replaceHTML += "<h3>아이디는 <span style='font-size:14pt; font-weight: bold;'>" + mav.userId + "</span>입니다.</h3>";
				} else {
					replaceHTML += "<h3>아이디를 찾을 수 없습니다.</h3>";
				}
				
				replaceHTML += "<div style='margin-bottom: 40px'></div><button type='button' class='btn2' id='popUp-Close-Button' ";
				replaceHTML += "onclick=\"location.href='http://localhost:8080/newzips/login';\">닫기</button></div>";
				
				$(".popup-form").replaceWith(replaceHTML);
				
				},
			beforeSend:function(xhr){
		        xhr.setRequestHeader(header, token);
		    }
				
		})

    }
	
	
	function findPwd() {
    	
    	var url = "/newzips/findPwd";
    	
    	var header = $("meta[name='_csrf_header']").attr('content');
    	var token = $("meta[name='_csrf']").attr('content');
    	
    	var userId = $("#userId").val();
    	var userName = $("#userName").val();
    	var userPhone = $("#userPhone").val();

    	//var params = "userName=" + userName + "&userPhone=" + userPhone;
    	
		$.ajax({
				
			url:url,
			type:"post",
			data:{userId:userId, userName:userName, userPhone:userPhone}, 
			success:function(mav){
			
				replaceHTML = "<div class='popup-form'><div style='margin-top: 40px'></div>";
				
				if ((mav.userId) != null) {
					
					replaceHTML += "<form th:action=''@{/newzips/updatePwd}' method='post'>";
					replaceHTML += "<input type='hidden' th:name='${_csrf.parameterName}' id='token' th:value='${_csrf.token}'/>";
					replaceHTML += "<div class='form-field'>";
					replaceHTML += "<input type='text' name='userPwd1' id='userPwd1' placeholder='비밀번호'></div><div class='form-field'>";
                	replaceHTML += "<input type='text' name='userPwd2' id='userPwd2' placeholder='비밀번호 확인'></div>";
                	replaceHTML += "<button type='button' class='btn2' onclick='updatePwd()'>비밀번호 수정하기</button></form>";

				} else {
					replaceHTML += "<h3>일치하는 회원정보를 찾을 수 없습니다.</h3>";
				}
				
				replaceHTML += "<div style='margin-bottom: 40px'></div><button type='button' class='btn2' id='popUp-Close-Button' ";
				replaceHTML += "onclick=\"location.href='http://localhost:8080/newzips/login';\">닫기</button></div>";
				
				$(".popup-form").replaceWith(replaceHTML);
				
				},
			beforeSend:function(xhr){
		        xhr.setRequestHeader(header, token);
		    }
				
		})

    }
	

	function updatePwd() {
    	
    	var url = "/newzips/updatePwd";
    	
    	var header = $("meta[name='_csrf_header']").attr('content');
    	var token = $("meta[name='_csrf']").attr('content');
    	
    	var userPwd1 = $("#userPwd1").val();
    	var userPwd2 = $("#userPwd2").val();
    	
    	alert(userPwd1);
    	alert(uesrPwd2);

    	//var params = "userName=" + userName + "&userPhone=" + userPhone;
    	
    	/*
		$.ajax({
				
			url:url,
			type:"post",
			data:{userName:userName, userPhone:userPhone}, 
			success:function(mav){
			
				replaceHTML = "<div class='popup-form'><div style='margin-top: 40px'></div>";
				
				if ((mav.userId) != null) {
					replaceHTML += "<h3>아이디는 <span style='font-size:14pt; font-weight: bold;'>" + mav.userId + "</span>입니다.</h3>";
				} else {
					replaceHTML += "<h3>아이디를 찾을 수 없습니다.</h3>";
				}
				
				replaceHTML += "<div style='margin-bottom: 40px'></div><button type='button' class='btn2' id='popUp-Close-Button' ";
				replaceHTML += "onclick=\"location.href='http://localhost:8080/newzips/login';\">닫기</button></div>";
				
				$(".popup-form").replaceWith(replaceHTML);
				
				},
			beforeSend:function(xhr){
		        xhr.setRequestHeader(header, token);
		    }
				
		})
		*/

    }

</script>        

        
 
    </div><!--layout fragment end-->


</html>