<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">
	<!-- 별도로 적용하는 css파일있으면 link해주기 -->


	<!-- header, footer 제외 html쓰기 -->
 	<!-- 여기다가 -->
 
        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>마이페이지</h3>
                </div>
            </div>
        </section>
        
        <div></div>
 
 
 
</div><!--layout fragment end-->


<script type="text/javascript">
	//별도로 사용하는 스크립트 있으면 여기다 쓰기

</script>


</html>