<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">
	<!-- 별도로 적용하는 css파일있으면 link해주기 -->
	<link rel="stylesheet" href="/assets/css/login.css">
	

	<!-- header, footer 제외 html쓰기 -->
 	<!-- 여기다가 -->
 
 <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>마이페이지</h3>
                    <ul>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>

        <section class="blog-standard section-padding">
            <div class="container">
                <div class="blog-single-details">
                    <div class="row">
                   
                        <div class="col-lg-4">
                            <div class="sidebar">

                                <div class="widget widget-catgs">
                                    <h3 class="widget-title">마이페이지</h3>
                                    <ul>
                                        <li>
                                            <a href="/newzips/myPage/myInfo" title=""><i class="la la-angle-right"></i><span>회원정보</span></a>
                                        </li>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>예약확인</span></a>
                                        </li>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>거주자예약</span></a>
                                        </li>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>계약</span></a>
                                        </li>
                                    </ul>
                                </div><!--widget-catgs end-->

                            </div><!--sidebar end-->
                            
                            
                            
                        </div>
                    </div>
                </div><!--blog-single-details end-->
            </div>
        </section><!--blog-single-sec end-->
 
 
 
</div><!--layout fragment end-->


<script type="text/javascript">
	//별도로 사용하는 스크립트 있으면 여기다 쓰기

</script>


</html>