<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">
        
        <link rel="stylesheet" type="text/css" href="/assets/css/reservation_user2.css">

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>집 내놓기</h3>
                    <ul>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>

        <section class="page-main-content section-padding">
            <div class="container">
                <div class="agent-profile-sec" style="margin: 0 10% 0 18%">
                    <div class="row" style="flex-direction: column;">
                        <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                                            	<h1 style="font-size: 20pt;">내놓으려는 매물이 맞으신가요?</h1>
                                            	                                 <div style="margin-top: 10px;"></div>
                    	<span>고객님의 회원정보 주소를 기반으로 가져온 매물입니다.</span>
                        <div style="margin-top: 20px;"></div>
                            <div class="agent-profile5">
                                <div class="agent-img5" style="margin-right: 60px;">
                                    <img th:src="@{|/assets/listing_images/${dtoL.itemId}/1.png|}" alt="" style="width: 355px; height: 250px;" >
                                </div><!--agent-img end-->
                                <div class="agent-info5" style="border-left: 1px solid #dfe0e5; padding: 0px 20px 0px 0px;">
                                <div class="agent-info7">
                                    <h3 class="la la-map-marker" style="font-size: 20px; color:#6A7BE7; ">[[${dtoL.addrDetail}]]</h3><br/><br/><br/>
                                    <h1 class="bang-font" th:if="${dtoL.yearly_monthly}==전세">ㆍ전세 &nbsp;[[${dtoJ.yearlyFee_web}]]</h1><br/>                                                            
                                    <h1 th:if="${dtoL.yearly_monthly}==월세">ㆍ월세</h1><br/>                                                                
                                    <h1 th:if="${dtoL.yearly_monthly}==월세">ㆍ보증금 : [[${dtoW.deposit_web}]]만원 / 월 : [[${dtoW.monthlyFee_web}]]만원</h1><br/>                                                                
                                    </div> 
                                    <div class="agent-info8" style="border-right: none; width: 105%; padding: 20px 10px 10px 25px;">
                                    <h1 style="font-size: 17px;">ㆍ[[${dtoR.roomType}]]&nbsp;&nbsp;&nbsp;  방 : [[${dtoR.rooms}]] &nbsp;/&nbsp; 화장실 : [[${dtoR.bathrooms}]]&nbsp;&nbsp;&nbsp;</h1><br/>
                                    <h1 style="font-size: 17px;" th:if="${dtoL.parking}==T">ㆍ주차&nbsp;<span style="color: red;">O</span>&nbsp;/&nbsp; / 월[[${dtoL.parkingCost}]]원</h1>                                                             
                                    <h1 style="font-size: 17px;" th:if="${dtoL.parking}==F">ㆍ주차&nbsp;<span style="color: red;">X</span></h1>                                                             
                                    </div>                          
                                </div><!--agent-info end-->
                            </div><!--agent-profile end-->
                        </div>
                        
                        <!-- 방문 날짜 -->

                        <form th:object="${visitorReservDTO}" th:action="@{/newzips/reservation_user1}" name="reservationForm" method="post" >
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>


                        <div class="col-xl-4 col-lg-3 col-md-12 pr-0" style="padding-left: 0;">
                           <div class="contact-agent" style="padding-left: 0;">
                           
                            <div style="margin-top: 70px"></div>

                                    <div style="margin-bottom: 20%;"></div>


                                
                                 
                                 <div style="margin-top: 50px;"></div>
                                                                                 
                                    
                                    <div class="form-field5">
                                    <div style="margin-bottom: 70px;"></div>

                                        <button type="button" class="btn2" th:onclick="|location.href='@{/newzips/register_listing_ok/__${dtoR.itemId}__}'|" style="width: 50%; margin-left: 60%;">집 내놓기</button>
                                        <button type="button" class="btn2" onclick="" style="width: 50%; margin-left: 60%;">정보 수정하기</button>
                                    </div><!--form-field end-->
                                    
                            </div><!--contact-agent end-->
                        </div>
                        </form>
                        
                    </div>
                </div><!--agent-profile-sec end-->
            </div>
        </section><!--page-main-content end-->
        


	

</div><!--layout fragment end-->


</html>