<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style>
	button {
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
	}
	
	 .container {
        display: flex;
      }
      
      .box {
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        background-color: #fff;
      }
      
      .box:first-child {
        border-right: none;
      }
	
</style>
</head>
<body>

<div style="border: 1px solid black; text-align: center">
<div style="height: 20px;"></div>
	<div>
		<dl>
			<h2>방문 예약 신청 완료</h2>
		</dl>
	</div>
	
	<div style="height: 20px;"></div>
	
	<div class="container">
      <div class="box">
        <input type="image" value="이미지"/>
      </div>
      <div class="box">
        <h3>매물 정보 및 날짜</h3>
      </div>
    </div>
	
	<div style="height: 20px;"></div>
	
	<div>
		<dl>
		<dt>요청사항</dt>
			<dd>
			<textarea rows="10" cols="100" style="resize: none; background-color: #ffffff;"></textarea>
			</dd>
		</dl>
	</div>
	
	<div style="height: 20px;"></div>
	
	<div>
		<dl>
			<dd>
				<textarea rows="10" cols="100" style="resize: none; 
				background-color: #ffffff;" disabled="disabled">안내멘트
중개인이 매칭될 예정입니다.
매칭된 중개인은 마이페이지 > 방문 예약 에서 확인하실 수 있습니다.
				</textarea>
			</dd>
		</dl>
	</div>
	
	<div>
	<button type="button">확인</button>
	</div>
	
</div>

</body>
</html>