<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>방문예약 현황</h3>
                    <ul>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>

        <section class="listing-main-sec section-padding2">
            <div class="container">
                <div class="listing-main-sec-details">
                    <div class="row">
                        <div class="col-lg-8" style="max-width: 200%; flex: 0 0 70%;">
                            <div class="listing-directs">
                                <div class="tab-content" id="myTabContent" style="width: 150%;">
                                    <div class="tab-pane fade show active" id="grid-view-tab2" role="tabpanel" aria-labelledby="grid-view-tab2">
                                        <div th:each="reservation : ${reservationList}" class="list-products" style="border-bottom: 1px solid #808080a3; margin-top: 30px;">
                                            <div class="card" style="margin-bottom: 30px;">
                                                <a th:href="@{|/newzips/itemDetail_user/${reservation.itemId}|}" title="">
                                                    <div class="img-block">
                                                        <div class="overlay"></div>
                                                        <img src="https://via.placeholder.com/370x295" alt="" class="img-fluid">
                                                       
                                                    </div>
                                                </a>
                                                <div class="card_bod_full" style="border: none; width: 30%; float: left; margin-left: 50px;">
                                                    <div class="card-body">
                                                        <a th:href="@{|/newzips/itemDetail_user/${reservation.itemId}|}" title="">
                                                           
                                                            <h3><i class="la la-map-marker" th:text="${reservation.addrDetail}"></i></h3>
                                                        </a><br/><br/><br/>
                                                        <ul style="border-bottom: none;">
                                                           <!-- <li>방 : <span th:text="${reservation.rooms}" ></span> </li >       -->   
                                                           <!-- <li>화장실 : <span th:text="${reservation.bathrooms}"></span> </li>  --> 
                                                        </ul>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="crd-links">
                                                            	<ul>
                                                                	<h1>방문 날짜 :&nbsp; <span th:text="${reservation.visitDate}"></span></h1> <br/>
                                                                	<h1>방문 시간 :&nbsp;<span th:text="${reservation.visitTime}"></span> </h1>
                                                                </ul>
                                                            </a>
                                                        </div><!--crd-links end-->
                                                    </div>
                                                </div><!--card_bod_full end-->
                                                <div class="card_bod_full" style="border: none; width: 30%;margin-left: 10%; float: right: ;">
                                                    <div class="card-body">
                                                     <div class="card-body">
                                                     <div class="card-body">
                                                        
                                                            <h3 th:if="${reservation.CONFIRM}==T">매칭완료</h3><br/><br/><br/>
                                                            <h3 th:if="${reservation.CONFIRM}==F">매칭중</h3><br/><br/><br/>
                                                           
                                                        <ul style="border-bottom: none;">
                                                            <h2 th:text="${reservation.realtorName}"></h2><br/>
                                                            <h2 th:text="${reservation.realtorPhone}"></h2>
                                                        </ul>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="crd-links">
                                                        </div><!--crd-links end-->
                                                    </div>
                                                    </div>
                                                    </div>
                                                </div><!--card_bod_full end-->
                                                
                                                
                                                
                                                <a th:href="@{|/newzips/itemDetail_user/${reservation.itemId}|}" title="" class="ext-link"></a>
                                            </div><!--card end-->
                                            
                                            
                                            
                                        </div><!-- list-products end-->
                                    </div>
                                </div><!--tab-content end-->
                                
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                       <!--   <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!--pagination end-->
                            </div><!--listing-directs end-->
                        </div>
                        
                    </div>
                </div><!--listing-main-sec-details end-->
            </div>    
        </section><!--listing-main-sec end-->

<script src="/assets/js/reservation.js"></script>

</div><!--layout fragment end-->



</html>