<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style>
	button {
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
	}
	
	 
	
</style>
</head>
<body>

<div style="border: 1px solid black; text-align: center">
	<div style="height: 20px;"></div>
	
	<div>
		<dl>
			<h2>방문 가능 시간 설정</h2>
		</dl>
		
		<form>
			날짜 : <input type="week"/><br/>
		</form>
		
		<form action="">
			<label><input type="checkbox">월</label>
			<label><input type="checkbox">화</label>
			<label><input type="checkbox">수</label>
			<label><input type="checkbox">목</label>
			<label><input type="checkbox">금</label>
			<label><input type="checkbox">토</label>
			<label><input type="checkbox">일</label>
		</form>
			
		<form>
			시간 : <input type="time"/>
		</form>		
		
		
	</div>
	
	<div style="height: 20px;"></div>
	
	<div>
		<dl>
			<dd>
			<textarea rows="10" cols="100" style="resize: none; background-color: #ffffff;" placeholder="중개인에게 전달사항 ex)비밀번호"></textarea>
			</dd>
		</dl>
	</div>
	
	<div>
	<button type="button">설정하기</button>
	</div>
	
</div>

</body>
</html>