<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">
    
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/reservation_user.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/style_test.css">



        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>사용자 계약</h3>
                    <ul>
                    </ul>
                </div>
            </div>
        </section>

		<!-- 매물 이미지 및 정보 -->
        <section class="page-main-content section-padding">
            <div class="container">
                <div class="agent-profile-sec" style="margin-left: 15%;">
                    <div class="row" style="flex-direction: column;">
                        <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                            <div class="agent-profile5">
                                <div class="agent-img5" style="margin-right: 60px;">
                                    <img th:src="@{|/assets/listing_images/${listing.itemId}/1.png|}" alt="" style="width: 355px; height: 250px;">
                                </div><!--agent-img end-->
                                <div class="agent-info5" style="padding: 10px 29px 20px 15px; border-left: 1px solid #dfe0e5">
	                                <div class="agent-info7" style="padding-left: 5px; font-size: 18px;">
	                                    <h3 class="la la-map-marker" style="font-size: 20px; color:#6A7BE7; ">[[${listing.addrDetail}]]</h3><br/><br/>
	                                    <h3 th:if="${listing.yearly_monthly}=='전세'" style="margin-bottom: 5px;">ㆍ전세&nbsp; : &nbsp;[[${junsae.yearlyFee}]]></h3>                                                        
	                                    <h3 th:if="${listing.yearly_monthly}=='전세'" style="margin-bottom: 5px;">ㆍ계약기간&nbsp; : &nbsp;[[${junsae.contractPeriod}]]</h3>                                                        
	                                    <h3 th:if="${listing.yearly_monthly}=='월세'" style="margin-bottom: 5px;">ㆍ보증금&nbsp; : &nbsp;[[${wolse.deposit}]]원</h3> 
	                                    <h3 th:if="${listing.yearly_monthly}=='월세'" style="margin-bottom: 5px;">ㆍ월세&nbsp; : &nbsp;[[${wolse.monthlyFee}]]원</h3> 
	                                    <h3 th:if="${listing.yearly_monthly}=='월세'" style="margin-bottom: 5px;">ㆍ계약기간&nbsp; : &nbsp;[[${wolse.contractPeriod}]]년</h3> 
	                                </div><!--agent-info end-->
	                                <div class="agent-info8" style="border-right: none; font-size: 18px; padding-left: 5px;">
	                                    <h3></h3>                                                                
	                                    <h3 th:if="${listing.parking}=='T'">ㆍ주차&nbsp;<span style="color: red;">O</span>&nbsp;/&nbsp; / 월[[${dtoL.parkingCost}]]원</h3>                                                                
	                                    <h3 th:if="${listing.parking}=='F'">ㆍ주차&nbsp;<span style="color: red;">X</span></h3>                                                                
	                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-12 pr-0" style="padding-left: 0;">
                            <div class="contact-agent5">
                            <div style="margin-top: 40px"></div>
                                 <h2>임대인 정보</h2>
                                 <div style="margin-bottom: 10px"></div>
                                 <form>                                                    
                                    <div class="form-field" >
                                       <div style="border: 1px solid #dfe0e5; width: 108%; height: 100px;">
                                       		<ul style="margin-top: 15px; margin-left: 20px;">
                                       			<h1>이름&nbsp; :&nbsp; [[${member.userName}]]</h1><br/>
                                       			<h1>핸드폰 &nbsp;:&nbsp; [[${member.userPhone}]]</h1><br/>
                                       		</ul>
                                       </div>
                                    </div>
                                </form>
                            </div><!--contact-agent end-->
                            
                            <div style="margin-top: 40px"></div>
                                 <h2>임차인 정보</h2>
                                 <div style="margin-bottom: 10px"></div>
                                 <form>                                                    
                                    <div class="form-field" >
                                       <div style="border: 1px solid #dfe0e5; width: 108%; height: 100px;">
                                       		<ul style="margin-top: 15px; margin-left: 20px;">
                                       			<h1>이름&nbsp; :&nbsp; [[${member.userName}]]</h1>
                                       			<h1>핸드폰 &nbsp;:&nbsp; [[${member.userPhone}]]</h1>
                                       			<h1>이메일&nbsp; :&nbsp; [[${member.userEmail}]]</h1>
                                       		</ul>
                                       </div>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-bottom: 20px;"></div>
                            <!-- 중개인 이미지 및 정보 -->
                            <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                            <div class="agent-profile5">
                            <h1>중개인 정보</h1>
                            <div style="margin-bottom: 10px;"></div>
                                <div class="agent-img6" style="margin-right: 50px;">
                                    <img src="https://via.placeholder.com/355x250" alt="" style="width: 200px; height: 150px;">
                                </div><!--agent-img end-->
                                <div class="agent-info9" style="border: none; padding-top: 40px">
                                 
                                    <h3 style="font-size: 17px;">ㆍ이름 : [[${realtor.realtorName}]]</h3><br/>                                                             
                                    <h3 style="font-size: 17px;">ㆍ번호 : [[${realtor.realtorPhone}]]</h3>  
                                                                                               
                                </div>
                            </div>
                       		</div> 
                       		
                       			<!-- 계약 버튼 -->                            
                                 <form style="margin-left: 19%">                                                                                      
                                    <div class="form-field5" style="width: 40%;" >
                                        <button type="submit" class="btn2">계약하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/maps.js"></script>

</div><!--layout fragment end-->



</html>