<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style>
	button {
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
	}
	
	 
	
</style>
</head>
<body>

<div style="border: 1px solid black; text-align: center">
<div style="height: 20px;"></div>
	<div>
		<dl>
			<h2>방문 예약</h2>
		</dl>
	</div>
	
	<div style="height: 20px;"></div>
	
	<div style="display: flex; justify-content: center; gap: 40px;">
	  <div style="width: 500px; height: 300px; border: 1px solid black;">
	  	<input type="image">
	  </div>
	  <div style="width: 500px; height: 200px; border: 1px solid black; margin-top: 30px">매물정보</div>
	</div>
	
	<div style="height: 20px;"></div>
	
	<div>
		<dl>
			<dt>방문 가능 시간 설정</dt>
		</dl>
		
		<form>
			날짜 : <input type="date"/><br/>
			
			시간 : <input type="time" />
		</form>		
		
		
	</div>
	
	<div style="height: 20px;"></div>
	
	<div>
		<dl>
		<dt>요청사항</dt>
			<dd>
			<textarea rows="10" cols="100" style="resize: none; background-color: #ffffff"></textarea>
			</dd>
		</dl>
	</div>
	
	<div>
	<button type="button">예약하기</button>
	</div>
	
	
	
	
	
	
	
</div>

</body>
</html>