<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Selio - Real Estate HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/reservation_user.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/style_test.css">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <div class="wrapper">

        <div th:fragment="headerFragment" class="headerBox">
	
	  <header>

            <div class="top-header">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-md-7 col-sm-12">
                            <div class="header-address">
                                <a href="#">
                                    <i class="la la-phone-square"></i>
                                    <span>02-6255-8002</span>
                                </a>
                                <a href="#">
                                    <i class="la la-map-marker"></i>
                                    <span>서울특별시 강남구 테헤란로 124</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-5 col-sm-12">
                            <div class="header-social">
                            	<i class="la la-arrow-circle-right"></i>
                                <a href="/newzips/realtor"><span>중개인으로 전환</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="/newzips">
                                    <img src="/assets/images/newzips_logo_1.png" alt="">
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="/newzips/itemList_user">
                                                매물검색
                                            </a>
                                         
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                방문예약
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/newzips/reservation_resident">거주자 예약</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">예약현황 확인</a>
                                            </div>
                                           
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                               제안
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="21_List_Layout_With_Map.html">제안받기</a>
                                                <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">제안받은 매물</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="/newzips/wish">
                                               관심목록
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                    	
                                        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                                            <li class="nav-item signin-btn">
                                                <a class="nav-link" href="/newzips/login">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b id="header_login">로그인</b></span>
                                                </a>
                                                
                                            </li>

                                            <li class="nav-item submit-btn">
                                                <a href="/newzips/joinTerm" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <span>회원가입</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                                            <li class="nav-item signin-btn">
                                                <a class="nav-link" href="/newzips/logout">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b id="header_logout">로그아웃</b></span>
                                                </a>
                                                
                                            </li>

                                            <li class="nav-item submit-btn">
                                                <a href="/newzips/mypage" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <span>마이페이지</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header><!--header end-->
</div>

        <div class="popup" id="sign-popup">
            <h3>Sign In to your Account</h3>
            <div class="popup-form">
                <form>
                    <div class="form-field">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="Password">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc1">
                                <label for="cc1">
                                    <span></span>
                                    <small>Remember me</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="">Forgot Password?</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">Sign In</button>
                </form>
                <a href="#" title="" class="fb-btn"> <i class="fa fa-facebook"></i>Sign In With Facebook</a>
            </div>
        </div><!--popup end-->

        <div class="popup" id="register-popup">
            <h3>Register</h3>
            <div class="popup-form">
                <form>
                    <div class="form-field">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-field">
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="Password">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc2">
                                <label for="cc2">
                                    <span></span>
                                    <small>I agree with terms</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="" class="signin-op">Have an account?</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">Register</button>
                </form>
            </div>
        </div><!--popup end-->
        
        

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>사용자 계약</h3>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span>Agent Profile</span></li>
                    </ul>
                </div>
            </div>
        </section>

		<!-- 매물 이미지 및 정보 -->
        <section class="page-main-content section-padding">
            <div class="container">
                <div class="agent-profile-sec">
                    <div class="row" style="flex-direction: column;">
                        <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                            <div class="agent-profile5">
                                <div class="agent-img5" style="margin-right: 60px;">
                                    <img src="https://via.placeholder.com/355x250" alt="">
                                </div><!--agent-img end-->
                                <div class="agent-info5" style="padding: 15px 29px 20px 15px;">
	                                <div class="agent-info7">
	                                    <h3 class="la la-map-marker">[[${listing.addrDetail}]]</h3><br/><br/>
	                                    <h3 th:if="${listing.yearly_monthly}=='전세'" style="margin-bottom: 5px;">전세&nbsp; : &nbsp;[[${junsae.yearlyFee}]]></h3>                                                        
	                                    <h3 th:if="${listing.yearly_monthly}=='전세'" style="margin-bottom: 5px;">계약기간&nbsp; : &nbsp;[[${junsae.contractPeriod}]]</h3>                                                        
	                                    <h3 th:if="${listing.yearly_monthly}=='월세'" style="margin-bottom: 5px;">보증금&nbsp; : &nbsp;[[${wolse.deposit}]]원</h3> 
	                                    <h3 th:if="${listing.yearly_monthly}=='월세'" style="margin-bottom: 5px;">월세&nbsp; : &nbsp;[[${wolse.monthlyFee}]]원</h3> 
	                                    <h3 th:if="${listing.yearly_monthly}=='월세'" style="margin-bottom: 5px;">계약기간&nbsp; : &nbsp;[[${wolse.contractPeriod}]]년</h3> 
	                                    <h3>중개비 등등</h3>                                                                
	                                </div><!--agent-info end-->
	                                <div class="agent-info8">
	                                    <h3></h3>                                                                
	                                    <h3 th:if="${listing.parking}=='T'">주차 가능 : [[${listing.parkingCost}]]원</h3>                                                                
	                                    <h3 th:if="${listing.parking}=='F'">주차 불가</h3>                                                                
	                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-12 pr-0" style="padding-left: 0">
                            <div class="contact-agent5">
                            <div style="margin-top: 40px"></div>
                                 <h2>임대인 정보</h2>
                                 <div style="margin-bottom: 10px"></div>
                                 <form>                                                    
                                    <div class="form-field">
                                        <div style="border: 1px solid #dfe0e5; width: 108%; height: 100px;">
                                       		<ul style="margin-top: 20px; margin-left: 20px;">
                                       			<h1>이름&nbsp; :&nbsp;</h1>
                                       			<h1>핸드폰 &nbsp;:&nbsp;</h1>
                                       			<h1>이메일&nbsp; :&nbsp; </h1>
                                       		</ul>
                                       </div>
                                    </div><!--form-field end-->
                                </form>
                            </div><!--contact-agent end-->
                            
                            <div style="margin-top: 40px"></div>
                                 <h2>임차인 정보</h2>
                                 <div style="margin-bottom: 10px"></div>
                                 <form>                                                    
                                    <div class="form-field" >
                                       <div style="border: 1px solid #dfe0e5; width: 108%; height: 100px;">
                                       		<ul style="margin-top: 20px; margin-left: 20px;">
                                       			<h1>이름&nbsp; :&nbsp; [[${member.userName}]]</h1>
                                       			<h1>핸드폰 &nbsp;:&nbsp; [[${member.userPhone}]]</h1>
                                       			<h1>이메일&nbsp; :&nbsp; [[${member.userEmail}]]</h1>
                                       		</ul>
                                       </div>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- 중개인 이미지 및 정보 -->
                            <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                            <div class="agent-profile5">
                                <div class="agent-img6" style="margin-right: 100px;">
                                    <img src="https://via.placeholder.com/355x250" alt="" style="width: 200px; height: 150px;">
                                </div><!--agent-img end-->
                                <div class="agent-info9">
                                    <h3>중개사 및 중개인 정보</h3>                                                             
                                </div>
                            </div>
                       		</div> 
                       		
                       			<!-- 계약 버튼 -->                            
                                 <form>                                                                                      
                                    <div class="form-field5" style="width: 50%; margin-left: 30%;" >
                                        <button type="submit" class="btn2">계약하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

             <div th:fragment="footerFragment" class="footer">
        
                <a href="#" title="">    
            <section class="cta st2 section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cta-text">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
           <section class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 col-md-4">
                        <div class="bottom-logo">
                            <img src="/assets/images/newzips_logo_1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                  	<div class="office2">
						<div>(주)뉴집스</div>
						<div>대표 : 이수진</div> 
						<span>사업자 번호 : 137-22-1122</span>&nbsp;&nbsp;
						<span>통신판매업신고번호 : 제2013-서울-강남-137호</span>
						<div>주소 : 서울시 어쩌구 저쩌구</div>
						<span>고객센터 : 02-1234-5678</span>
						<span>┃</span>
						<span>평일 10:00 ~ 18:30, 점심시간 12:00 ~ 13:00(토·일요일,공휴일 휴무)</span>
						<div>팩스 : 02-123-1234</div>
						<span>프로모션/사업 제휴문의 : aaa@aaaa.co.kr</span>
					</div>

                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-content">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-md-6">
                                    <div class="copyright">
                                        <p>&copy; Newzip's. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div><!--footer end-->

    </div><!--wrapper end-->


    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/maps.js"></script>



</body>

</html>