<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">
    
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/reservation_user.css">


        

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>방문 예약 신청 완료</h3>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span>Agent Profile</span></li>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>

        <section class="page-main-content section-padding">
            <div class="container">
                <div class="agent-profile-sec">
                    <div class="row" style="flex-direction: column;">
                        <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                            <div class="agent-profile5">
                                <div class="agent-img5" style="margin-right: 60px;">
                                    <img src="https://via.placeholder.com/355x250" alt="">
                                </div><!--agent-img end-->
                                
                                
                                <div class="agent-info5">
                                    <h3>매물정보</h3>
                                    <p>보증금, 전월세, 중개비 등등</p>                                                                
                                </div><!--agent-info end-->
                            </div><!--agent-profile end-->
                        </div>
                        
                         <div style="margin-bottom: 20px;"></div>
                       
                        <div>
							<dl>
								<h3>날짜:</h3>
								<dd></dd>
								<h1>시간:</h1>
								<dd></dd>			
							</dl>		
						</div>
                        
                        
                        <div class="col-xl-4 col-lg-3 col-md-12 pr-0" style="padding-left: 0">
                            <div class="contact-agent5">
                            <div style="margin-top: 40px"></div>

                                 <h2>요청사항</h2>
                                 <div style="margin-bottom: 10px"></div>
                            <form>                                                    
                                  <div class="form-field">
                                      <textarea name="message" placeholder="요청사항" style="resize: none; width: 108%" disabled="disabled"></textarea>
                                  </div><!--form-field end-->                                
                            </form>
                            
                            <form>
                            <div class="form-field" >
                                <h2 style="margin-left: 18%;">중개인이 매칭될 예정입니다. 매칭된 중개인은 마이페이지 > 방문예약에서 확인하실 수 있습니다.</h2>
                            </div><!--form-field end-->  
                            </form>
                            

                                    <div class="form-field5">
                                    <div style="margin-bottom: 20%;"></div>
                                        <button type="submit" class="btn2" style="width: 40%; margin-left: 25%;">확인</button>
                                    </div><!--form-field end-->
                                </form>
                            </div><!--contact-agent end-->
                        </div>
                    </div>
                </div><!--agent-profile-sec end-->
            </div>
        </section><!--page-main-content end-->
        
        



    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/maps.js"></script>


</div><!--layout fragment end-->



</html>