<!doctype html>
<html layout:decorate="~{user/layout_user}">

<meta charset="utf-8">

<div layout:fragment="content">

<link rel="stylesheet" type="text/css" href="/assets/css/suggestList.css">
    
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">

<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>매물 제안 요청</h3>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span></span></li>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ============================================================ -->



<section>
	<div class="insert_container">
		<span id="logo_img"><img src="/assets/images/Newzips_logo1.png" alt=""></span>
		<div id="insert_completed_area">
				<br/>
				<span style="margin-bottom: 80px;">매물 제안<br/>수정 완료&nbsp;<i class="fa-regular fa-heart"></i></span>
				<br/>
				<span style="font-size: 16px;">매물 조건이 수정되었습니다 :-)</span>
		</div>
		<div id="insert_completedBtn_area">
			<div>
				<button id="insert_completed_btn"><a href="javascript:location.href='/newzips';">완료</a></button>
			</div>
		</div>
	</div>




</section>


	
</div>

</html>