    <section class="page-main-content section-padding">
            <div class="container">
                <div class="agent-profile-sec">
                    <div class="row" style="flex-direction: column;">
                        <div class="col-xl-8 col-lg-9 col-md-12 pl-0 pr-0">
                            <div class="agent-profile5">
                                <div class="agent-img5" style="margin-right: 60px;">
                                    <img src="https://via.placeholder.com/355x250" alt="">
                                </div><!--agent-img end-->
                                <div class="agent-info5">
                                    <h3>매물정보</h3>
                                    <p>보증금, 전월세, 중개비 등등</p>                                                                
                                </div><!--agent-info end-->
                            </div><!--agent-profile end-->
                        </div>
                        
                        <!-- 방문 날짜 -->
                        <form th:object="${dtoV}" th:action="@{/newzips/reservation_user1}" name="reservationForm" method="post" >
                        	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="col-xl-4 col-lg-3 col-md-12 pr-0" style="padding-left: 0">
                           <div class="contact-agent">
                           
                            <div style="margin-top: 40px"></div>
                                <h3 style="margin-bottom: 15px;">방문 가능 날짜 선택</h3>

                                    <div class="form-field">
                                        <input type="date" name="visitdate" id="Date" style="width: 40%" min="today();">
                                    
                                        <input type="hidden" th:field="*{visitDate}"/>
                        				
                                    </div><!-- form-field end -->
                                    <div style="margin-bottom: 12%;"></div>

                                <!--   시간선택      -->

								    <div class="middle_text">시간 선택</div>
								    <div>
								    	<input type="button" class="time-button" value="오전" disabled="disabled" style="border: none;">
								        <input type="button" class="time-button" value="09:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="10:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="11:00" onclick="selectTime(this)" name="visittime"><br/>
								        <input type="button" class="time-button" value="오후" disabled="disabled" style="border: none;">
								        <input type="button" class="time-button" value="12:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="13:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="14:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="15:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="16:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="17:00" onclick="selectTime(this)" name="visittime">
								        <input type="button" class="time-button" value="18:00" onclick="selectTime(this)" name="visittime">
								        <input type="hidden" th:field="*{visitTime}"/>
								    </div>
								    <div style="margin-bottom: 7%;"></div>

                                
                                 
                                 <div style="margin-top: 160px;"></div>
                                                                                 
                                    
                                    <div class="form-field5">
                                    <div style="margin-bottom: 30px;"></div>

                                        <button type="button" class="btn2" onclick="validateForm();">예약하기</button>
                                    </div><!--form-field end-->
                                    
                            </div><!--contact-agent end-->
                        </div><!-- col-xl-4 col-lg-3 col-md-12 pr-0 end -->
                        </form><!-- reservationForm end -->
                        
                    </div><!-- row end -->
                </div><!--agent-profile-sec end-->
            </div><!-- container end -->
        </section><!--page-main-content end-->
        