
<html>
<meta charset="UTF-8">

<div th:fragment="headerFragment">
   <div th:fragment="headerFragment" class="headerBox">
      <input type="button" class="headerBtn" value="로그인">
      <input type="button" class="headerBtn" value="마이페이지">
   </div>
   
   <div class="newzips">Newzips</div>
   
   <div class="category">
      <span>카테고리1</span>
      <span>┃</span>
      <span>카테고리2</span>
      <span>┃</span>
      <span>카테고리3</span>
      <span>┃</span>
      <span>카테고리4</span>
      <span>┃</span>
      <span>카테고리5</span>
   </div>
   
   <br/>
   <hr/>
   <br/>
</div>

</html>