<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" th:href="@{/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/footer.css}">


</head>
<body>

<!-- header.html의 headerFragment 사용 -->
<th:block th:replace="header :: headerFragment"></th:block>

<!-- 현재 layout의 content사용이라는데 걍 변경되는 어쩌구인 듯 -->
<th:block layout:fragment="content"></th:block>

<!-- footer.html의 footerFragment 사용 -->
<th:block th:replace="footer :: footerFragment"></th:block>

</body>
</html>