<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



<table border="1" style="width:1400; margin: auto;">
	<tr>
		<td width="1400" height="40" style="font-size: 20px;">방문 예약 현황</td>
	</tr>
</table>


<table border="1" style="width:1400; margin: auto; font-size: 15px">
	<tr height="50"><td></td></tr>
	<tr style="width: 500px;">
		<td width="400">
			<table border="1" style="width: 350px; height: 400px; margin: auto;">
				<tr style="width: 400px;"><td width="400">달력</td></tr>
			</table>
		</td>
		<td width="500" style="padding-left: 40px;">
			<table border="1" style="width: 800px; height: 400px;">
				<tr height="80">
					<td valign="bottom">■ 예약리스트<br/>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
					매물번호ㅣ <br/><br/>
					예약 시간 ㅣ <br/><br/>
					예약자 성함 ㅣ <br/><br/>
					예약자 번호 ㅣ <br/><br/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr height="50"><td></td></tr>
</table>


<table border="1" style="width: 1400px; height: 50px; margin: auto;
	font-size: 15px; font-weight: bold; ">
	<tr height="40">
		<td style="padding-left: 10px; color: #7F7F7F;">[오늘 예약]</td>
	</tr>
	<tr>
		<td width="400">
			<table style="width: 500">
				<img alt="매물 사진" src="매물사진" width="250" height="250"/>
			</table>
		</td>
		<td width="600" height="200">
			<table border="1" width="500" height="250" style="padding-left: 10px">
				<tr height="50">
					<td>YYYY - MM - DD / PM 3:00
					</td>
				</tr>
				<tr>
					<td>소재지 : ~~~<br/><br/>
						전월세 : ~~~원<br/><br/>
						보증금 : ~~~~원
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table border="1" style="width: 400; height: 250;">
				<tr>
					<td width="400" height="30" valign="top" style="padding-top: 10px">■ 예약자 정보<br/>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
					이름ㅣ <br/><br/>
					연락처 ㅣ <br/><br/>
					매물옵션 ㅣ <br/><br/>
					</td>
				</tr>
			</table>
	<tr height="50"><td></td></tr>
	</tr>
</table>



<table border="1" style="width: 1400px; height: 50px; margin: auto;
	font-size: 15px; font-weight: bold; ">
	<tr height="40">
		<td style="padding-left: 10px; color: #7F7F7F;">[1주일 예약]</td>
	</tr>
	<tr>
		<td width="400">
			<table style="width: 500">
				<img alt="매물 사진" src="매물사진" width="250" height="250"/>
			</table>
		</td>
		<td width="600" height="200">
			<table border="1" width="500" height="250" style="padding-left: 10px">
				<tr height="50">
					<td>YYYY - MM - DD / PM 3:00
					</td>
				</tr>
				<tr>
					<td>소재지 : ~~~<br/><br/>
						전월세 : ~~~원<br/><br/>
						보증금 : ~~~~원
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table border="1" style="width: 400; height: 250;">
				<tr>
					<td width="400" height="30" valign="top" style="padding-top: 10px">■ 예약자 정보<br/>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
					이름ㅣ <br/><br/>
					연락처 ㅣ <br/><br/>
					매물옵션 ㅣ <br/><br/>
					</td>
				</tr>
			</table>
		</td>
	<tr height="50"><td></td></tr>
	</tr>
</table>



</body>
</html>