
<html>
<meta charset="UTF-8">

        <div th:fragment="footerFragment" class="footer">
        
                <a href="#" title="">    
            <section class="cta st2 section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cta-text">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
           <section class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 col-md-4">
                        <div class="bottom-logo">
                            <img src="/assets/images/newzips_logo_1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                  	<div class="office2">
						<div>(주)뉴집스</div>
						<div>대표 : 이수진</div> 
						<span>사업자 번호 : 137-22-1122</span>&nbsp;&nbsp;
						<span>통신판매업신고번호 : 제2013-서울-강남-137호</span>
						<div>주소 : 서울시 어쩌구 저쩌구</div>
						<span>고객센터 : 02-1234-5678</span>
						<span>┃</span>
						<span>평일 10:00 ~ 18:30, 점심시간 12:00 ~ 13:00(토·일요일,공휴일 휴무)</span>
						<div>팩스 : 02-123-1234</div>
						<span>프로모션/사업 제휴문의 : aaa@aaaa.co.kr</span>
					</div>

                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-content">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-md-6">
                                    <div class="copyright">
                                        <p>&copy; Newzip's. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div><!--footer end-->

</html>