<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">
	<!-- 별도로 적용하는 css파일있으면 link해주기 -->
    <link rel="stylesheet" href="/assets/css/login.css">

 <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>중개인 회원가입</h3>
                    <ul>

                    </ul>
                </div>
            </div>
        </section>

		<!-- 회원가입 정보 입력 -->
		<section class="page-main-content section-padding">
		  <div class="container">
		    <div class="login">
		      <div style="margin-top: 40px"></div>
		      
		      <div class="login-form-field">
		      <img src="/assets/images/newzips_logo_1.png" alt="logo">
		      </div>

		      <form th:object="${realtorDTO}" th:action="@{/newzips/realtor/join}" name="joinForm" method="post">
		      
		      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		        
		        <div style="margin-bottom: 10px"></div>
		        
		        <div class="login-form-field">
		        <p class="input-description"><strong>아이디</strong></p>
		          <input type="text" th:field="*{realtorId}" placeholder="아이디">
		        <p th:if="${#fields.hasErrors('realtorId')}" th:errors="*{realtorId}" class="input-error"></p>
		        </div>
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        <p class="input-description"><strong>비밀번호</strong></p>
		          <input type="password" th:field="*{realtorPwd}" placeholder="비밀번호">
		          <p th:if="${#fields.hasErrors('realtorPwd')}" th:errors="*{realtorPwd}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        <p class="input-description"><strong>비밀번호 확인</strong></p>
		          <input type="password" th:field="*{realtorPwd2}" placeholder="비밀번호 확인">
		          <p th:if="${#fields.hasErrors('realtorPwd2')}" th:errors="*{realtorPwd2}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
				<p class="input-description"><strong>이름</strong></p>
		          <input type="text" th:field="*{realtorName}" placeholder="이름">
		          <p th:if="${#fields.hasErrors('realtorName')}" th:errors="*{realtorName}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
				<p class="input-description"><strong>핸드폰 번호</strong></p>
		          <input type="text" th:field="*{realtorPhone}" placeholder="이름">
		          <p th:if="${#fields.hasErrors('realtorPhone')}" th:errors="*{realtorPhone}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>이메일</strong></p>
		          <input type="text" th:field="*{realtorEmail}" placeholder="이메일">
		          <p th:if="${#fields.hasErrors('realtorEmail')}" th:errors="*{realtorEmail}" class="input-error"></p>
		        </div>   
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>중개사 등록번호</strong></p>
		          <input type="text" th:field="*{realtorCerti}" placeholder="중개사 등록번호">
		          <p th:if="${#fields.hasErrors('realtorCerti')}" th:errors="*{realtorCerti}" class="input-error"></p>
		        </div>
		        
		        <div style="margin-bottom: 10px"></div>
		        <div class="login-form-field">
		        		        <p class="input-description"><strong>주소</strong></p>
		          <input type="text" th:field="*{realtorZipCode}" placeholder="우편번호" readonly onclick="findAddr()">
		          <p th:if="${#fields.hasErrors('realtorZipCode')}" th:errors="*{realtorZipCode}" class="input-error"></p>
		        </div>

		        <div class="login-form-field">
		          <input type="text" th:field="*{realtorAddr}" placeholder="주소" readonly>
		          <p th:if="${#fields.hasErrors('realtorAddr')}" th:errors="*{realtorAddr}" class="input-error"></p>
		        </div>

		        <div class="login-form-field">
		          <input type="text" th:field="*{realtorDetailedAddr}" placeholder="상세주소">
		          <p th:if="${#fields.hasErrors('realtorDetailedAddr')}" th:errors="*{realtorDetailedAddr}" class="input-error"></p>
		        </div>

		        
		        <div style="margin-top: 20px"></div>
		        
				
		      <div style="margin-top: 20px"></div>
			
			<div style="margin-top: 10px"></div>
		    
		    <!-- 로그인 버튼 -->                                                                                                                
		      <div class="login-form-field">
		        <button type="button" class="btn2" onclick="sendForm()">회원가입</button>
		      </div>
		      
		    </form>
		    <!-- joinForm 끝 -->
		    
		    <div style="margin-top: 20px"></div>
		   
		    
		    <div style="margin-top: 10px"></div>
		    

		  </div>
		  
		</div>
		</section>

<script type="text/javascript">

function findAddr(){
	new daum.Postcode({
        oncomplete: function(data) {
        	
        	console.log(data);
        	
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var jibunAddr = data.jibunAddress; // 지번 주소 변수
            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('realtorZipCode').value = data.zonecode;
            if(roadAddr !== ''){
                document.getElementById("realtorAddr").value = roadAddr;
            } 
            else if(jibunAddr !== ''){
                document.getElementById("realtorAddr").value = jibunAddr;
            }
        }
    }).open();
}

	function sendForm(){
		
		var f = document.joinForm;
		
		f.submit();
		
	}

</script>


</div><!--layout fragment end-->




</html>