<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">
 		<link rel="stylesheet" type="text/css" href="/assets/css/itemlist.css">

        <section class="banner hp2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content">
                            <h1>원하는 조건을 검색하세요</h1>
                        </div>
                        <form action="#" class="row banner-search">
                            <div class="form_field addres">
                                <input type="text" class="form-control" placeholder="지역을 입력하세요">
                            </div>
                            <div class="form_field tpmax">
                                <div class="form-group">
                                    <div class="drop-menu">
                                        <div class="select">
                                            <span>전/월세</span>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <input type="hidden" name="gender">
                                        <ul class="dropeddown">
                                            <li>전세</li>
                                            <li>월세</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field tpmax">
                                <div class="form-group">
                                    <div class="drop-menu">
                                        <div class="select">
                                            <span>건물 종류</span>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <input type="hidden" name="gender">
                                        <ul class="dropeddown">
                                            <li>원룸</li>
                                            <li>투룸</li>
                                            <li>쓰리룸</li>
                                            <li>오피스텔</li>  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field tpmax">
                                <div class="form-group">
                                    <div class="drop-menu">
                                        <div class="select">
                                            <span>최대 가격</span>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <input type="hidden" name="gender">
                                        <ul class="dropeddown">
                                            <li>2000</li>
                                            <li>3000</li>
                                            <li>4000</li>
                                            <li>5000</li>
                                            <li>6000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field srch-btn">
                                <a href="#" class="btn btn-outline-primary " id="searchBtn">
                                    <i class="la la-search"></i>
                                    <span>검색</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

	<section class="popular-listing hp2 section-padding">
        
        <div class="container"style="text-align: center; margin-top: -4%;">
			<a href="https://khug.or.kr/hug/web/cs/no/csno000001.jsp?mode=S&articleId=31458&currentPage=1">
			<img src="/assets/images/국토교통부_HUG.png" style="width: 80%;"/>	
			</a>
		</div>
			<div style="margin-top: 30px;"></div>
			
            <div class="container" id="userListing">
            
				<div class="section-heading" >
                     <h3 style="padding-top: 2%;">추천매물</h3>
                </div>
                
                <div style="margin-top: -1.5%;"></div>
                <div class="listing-container">
                <div class="row">
                    <div th:each="item: ${listing}" class="col-lg-4 col-md-6"> <!-- 템플릿 반복문 -->
                        <div class="card">
                            <a th:href="@{|/newzips/itemDetail_user/${item.itemId}|}" title="">
                                 <div class="img-block">
                                    <div class="overlay_image"></div>
                                 <img th:src="${item.itemImagePath}" alt="" class="suggest_itemImage">
                                    <div class="rate-info">
                                       
                                    <span th:each="yearly_monthly : ${item.yearly_monthly}">
   									<span th:text="${yearly_monthly}"></span>
  									</span>
                                    </div>
                                </div>
                            </a>
							<div class="card-body">
								<a href="@{|/newzips/itemDetail_user/${item.itemId}|}" title="">
									<h3 th:if="${item.yearly_monthly == '전세'}">
										전세 <span th:text="${item.yearlyFee_web}"></span>
									</h3>

									<h3 th:if="${item.yearly_monthly == '월세'}">월세
										<span th:text="${item.deposit_web}"></span>/<span
											th:text="${item.monthlyFee_web}"></span>
									</h3>
								</a>
								<ul>
									<li th:each="addrDetail : ${item.addrDetail}"
										th:text="${addrDetail}"></li>
								</ul>
							</div>

							<div class="card-footer">
								<a class="pull-left"> 
								<i class="la la-heart-o" ></i>
								<input class="hiddenItemId" type="hidden" name="itemId" id="itemId" th:value="${item.itemId}"/>
								</a> <a href="#" class="pull-right"> <span
									th:each="roomType : ${item.roomType}"
									th:text="${roomType}"></span>
								</a></a>
							</div>
							<a th:href="@{|/newzips/itemDetail_user/${item.itemId}|}" title="" class="ext-link"></a>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="load-more-posts">
                            <a id="load-more-button" class="btn2">Load More</a>
                        </div><!--load-more end-->
                    </div>
                </div>
                
            </div>



            <div class="container" th:if="${listing.size()!=0}">
               
              <div class="section-heading">
                  <h3>인기 매물</h3>
              </div>
                   
                <div class="listing-container">
                <div class="row">
                    <div th:each="item: ${listing}" class="col-lg-4 col-md-6"> <!-- 템플릿 반복문 -->
                        <div class="card">
                            <a th:href="@{|/newzips/itemDetail_user/${item.itemId}|}" title="">
                                 <div class="img-block">
                                    <div class="overlay_image"></div>
                                 <img th:src="${item.itemImagePath}" alt="" class="suggest_itemImage">
                                    <div class="rate-info">
                                       
                                    <span th:each="yearly_monthly : ${item.yearly_monthly}">
   									<span th:text="${yearly_monthly}"></span>
  									</span>
                                    </div>
                                </div>
                            </a>
							<div class="card-body">
								<a href="@{|/newzips/itemDetail_user/${item.itemId}|}" title="">
									<h3 th:if="${item.yearly_monthly == '전세'}">
										전세 <span th:text="${item.yearlyFee_web}"></span>
									</h3>

									<h3 th:if="${item.yearly_monthly == '월세'}">월세
										<span th:text="${item.deposit_web}"></span>/<span
											th:text="${item.monthlyFee_web}"></span>
									</h3>
								</a>
								<ul>
									<li th:each="addrDetail : ${item.addrDetail}"
										th:text="${addrDetail}"></li>
								</ul>
							</div>

							<div class="card-footer">
								<a class="pull-left"> 
								<i class="la la-heart-o" ></i>
								<input class="hiddenItemId" type="hidden" name="itemId" id="itemId" th:value="${item.itemId}"/>
								</a> <a href="#" class="pull-right"> <span
									th:each="roomType : ${item.roomType}"
									th:text="${roomType}"></span>
								</a></a>
							</div>
							<a th:href="@{|/newzips/realtor/itemDetail/${item.itemId}|}" title="" class="ext-link"></a>
                        </div>
                    </div>
                    </div>

                   
                    <div class="col-lg-12">
                        <div class="load-more-posts">
                            <a id="load-more-button" class="btn2">Load More</a>
                        </div><!--load-more end-->
                    </div>
                </div>
                
            </div>
        </section>



</div><!--layout fragment end-->
  



</html>