<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">


     <link rel="stylesheet" type="text/css" href="/assets/css/reservationRequest.css">
<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>방문예약 현황</h3>
                    <ul>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ============================================================ -->

<section>

<div class="list_area" th:if="${reserved!=null}" th:each="dto : ${confirmedList}">
	<div>
	<div id="date_area">
		<ul>예약일자 ㅣ[[${dto.visitDate}]]&nbsp;&nbsp;[[${dto.visitTime}]]</ul>
	</div>
	<div id="confirmed_list_area">
		<div id="confirmed_itemImg">
			<img alt="매물사진" src="">
		</div>
		<div id="reserv_item_area">
			<div id="confirmed_reservInfo">
				<ul> * 예약자 정보
					<li>예약자 성함 ㅣ[[${dto.userName}]]</li>
					<li>예약자 연락처 ㅣ[[${dto.userPhone}]]</li>			
				</ul>
			</div>
			<div id="confirmed_itemInfo">
				<ul>* 매물정보
					<li>매물번호 ㅣ[[${dto.itemId}]]</li>
					<li>주소지 ㅣ[[${dto.addrDetail}]]</li>
					<li>전/월세 ㅣ[[${dto.yearly_monthly}]]</li>
					<li th:if="${dto.yearly_monthly=='전세'}">금액 ㅣ[[${dto.deposit}]]</li>
					<li th:if="${dto.yearly_monthly=='월세'}">금액 ㅣ[[${dto.deposit}]] / [[${dto.monthlyFee}]]</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>
</section>



</div>

</html>