<!doctype html>
<html class="no-js" lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Newzip's</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
       <link rel="stylesheet" href="/assets/css/style_test.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/reservationRequest.css">
    
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />


</head>
<html class="no-js" lang="en">


<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <div class="wrapper">

      	<header>
            <div class="top-header">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-md-7 col-sm-12">
                            <div class="header-address">
                                <a href="#">
                                    <i class="la la-phone-square"></i>
                                    <span>(647) 346-0855</span>
                                </a>
                                <a href="#">
                                    <i class="la la-map-marker"></i>
                                    <span>CF Fairview Mall, Toronto, ON</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-5 col-sm-12">
                            <div class="header-social">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="01_Home.html">
                                    <img src="/assets/images/Newzips_logo1.png" alt="">
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                Home
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="01_Home.html">White Menu with Center Search</a>
                                                <a class="dropdown-item" href="02_Home.html">Image Menu with Center Search 2</a>
                                                <a class="dropdown-item" href="03_Home.html">Map with Center Search</a>
                                                <a class="dropdown-item" href="04_Home.html">Geo SVG Map</a>
                                                <a class="dropdown-item" href="05_Home.html">Slider Header</a>
                                                <a class="dropdown-item" href="06_Home.html">Image Header with Description</a>
                                                <a class="dropdown-item" href="07_Home_Categories_and_Advanced_Search.html">More Search Features</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                Features
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="17_Features_Example_Alt_Titlebar.html">Features Example</a>
                                                <a class="dropdown-item" href="18_Half_Map.html">Half Map</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                Listing
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="21_List_Layout_With_Map.html">List Layout with Map</a>
                                                <a class="dropdown-item active" href="22_List_Layout_With_Sidebar.html">List Layout with Sidebar</a>
                                                <a class="dropdown-item" href="11_Agent_Profile.html">Agent Profile</a>
                                                <a class="dropdown-item" href="24_Property_Single.html">Property Single</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
                                                Pages
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="12_Blog_Grid.html">Blog Grid</a>
                                                <a class="dropdown-item" href="13_Blog_Standart.html">Blog Standard</a>
                                                <a class="dropdown-item" href="14_Blog_Open.html">Blog Open</a>
                                                <a class="dropdown-item" href="10_About.html">About</a>
                                                <a class="dropdown-item" href="15_Contact.html">Contact</a>
                                                <a class="dropdown-item" href="09_404.html">404</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                        <ul class="navbar-nav">
                                            <li class="nav-item signin-btn">
                                                <a href="#" class="nav-link">
                                                    <i class="la la-sign-in"></i>
                                                    <span><b class="signin-op">Sign in</b> or <b class="reg-op">Register</b></span>
                                                </a>

                                            </li>
                                            <li class="nav-item submit-btn">
                                                <a href="#" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <i class="icon-plus"></i>
                                                    <span>Submit Listing</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--header end-->

<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>방문 예약 요청 리스트</h3>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span>List Layout</span></li>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ================================================================ -->


<section>
    <div id="content_box" >
    	<div id="realtorId_area">
    		* <span style="font-weight: bold; color: #64A3FF;">[[${realtorId}]]</span>님에게 들어온 요청
    	</div>
        <div id="content_area"  th:if="${reservInfoDTO!=null}"  th:each="dto: ${reservInfoDTO}">
            <div id="item_image"  th:if="${dto.itemId!=null}" >
                <img alt="매물사진" src="/listing_images/${dto.itemId}/1.png">
            </div>
            <div class="reservation_itemList_shortcut"  th:if="${reservInfoDTO!=null}">
                <ul>예약 일정
                    <li>예약 일자 ㅣ<br/> [[${dto.visitDate}]]</li>
                    <li>예약 시간 ㅣ<br/> [[${dto.visitTime}]]</li>
                </ul>
                <ul>예약 매물 정보
                    <li>매물 번호 ㅣ<br/> [[${dto.itemId}]]</li>
                    <li>주소지 ㅣ<br/> [[${dto.addrDetail}]]</li>
                    <li>전월세 ㅣ<br/> [[${dto.yearly_monthly}]]</li>
                    <li th:if="${dto.yearly_monthly=='전세'}">금액 ㅣ<br/> [[${dto.yearlyFee}]]만원</li>
                    <li th:if="${dto.yearly_monthly=='월세'}">금액 ㅣ<br/> 보증금 [[${dto.deposit}]] / [[${dto.yearlyFee}]]만원</li>
                </ul>
                <ul>예약자 정보
                    <li>아이디ㅣ<br/> [[${dto.userId}]]</li>
                    <li>성함ㅣ<br/> [[${dto.userName}]]</li>
                    <li>연락처 ㅣ<br/> [[${dto.userPhone}]]</li>
                    <li th:if="${dto.yearly_monthly=='전세'}">금액 ㅣ<br/> [[${dto.yearlyFee}]]만원</li>
                    <li th:if="${dto.yearly_monthly=='월세'}">금액 ㅣ<br/> 보증금 [[${dto.deposit}]] / [[${dto.yearlyFee}]]만원</li>
                </ul>
               </div>
            <div id="confirm_btn_area">
                <button id="confirm_button"><a th:href="@{/newzips/reservationConfirmedRealtor(userId=${dto.userId},realtorId=${dto.realtorId},itemId=${dto.itemId})}">확정</a></button>
            </div>
        </div>
    </div>
</section>

	


<!-- ================================================================ -->




<!-- 
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!--pagination end-->
                                
          
      
 
<!-- ================================================================================================ -->


  
      <a href="#" title="">    
            <section class="cta st2 section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cta-text">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
           <section class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 col-md-4">
                        <div class="bottom-logo">
                            <img src="/assets/images/newzips_logo_1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                     <div class="office2">
                  <div>(주)뉴집스</div>
                  <div>대표 : 이수진</div> 
                  <span>사업자 번호 : 137-22-1122</span>&nbsp;&nbsp;
                  <span>통신판매업신고번호 : 제2013-서울-강남-137호</span>
                  <div>주소 : 서울시 어쩌구 저쩌구</div>
                  <span>고객센터 : 02-1234-5678</span>
                  <span>┃</span>
                  <span>평일 10:00 ~ 18:30, 점심시간 12:00 ~ 13:00(토·일요일,공휴일 휴무)</span>
                  <div>팩스 : 02-123-1234</div>
                  <span>프로모션/사업 제휴문의 : aaa@aaaa.co.kr</span>
               </div>

                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-content">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-md-6">
                                    <div class="copyright">
                                        <p>&copy; Newzip's. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


<!-- ================================================================================================ -->


    </div><!--wrapper end-->


    

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/html5lightbox.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/maps.js"></script>



</body>

</html>