<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">


    <link rel="stylesheet" type="text/css" href="/assets/css/suggestList.css">
    
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>방문예약 확정</h3>
                    <ul>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ============================================================ -->



<section>
	<div class="suggested_container">
		<div id="suggested_ok">
				<span id="logo_img"><img src="/assets/images/Newzips_logo1.png" alt="">
				<br/><br/><br/> </span>
				<span style="margin-bottom: 80px;">방문예약 확정!&nbsp;<i class="fa-regular fa-heart"></i></span><br/>
				<span style="font-size: 16px;">[[${reservInfo.userId}]]님의 방문예약이 확정되었습니다.</span><br/>
				<span style="font-size: 16px;">매물번호: [[${reservInfo.itemId}]]</span>
		</div>
		<div id="suggestList_btn_area">
			<div>
				<button id="complete_btn"><a href="reservationRequestRealtor">돌아가기</a></button>
			</div>
			<div>
				<button id="suggestok_list_btn"><a href="reservationStateRealtor">방문예약 현황 확인</a></button>
			</div>
		</div>
	</div>




</section>

    <script src="https://kit.fontawesome.com/2e46f8a9f2.js" crossorigin="anonymous"></script>
	

</div>


</html>