<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">

    <link rel="stylesheet" type="text/css" href="/assets/css/reservationRequest.css">
    
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />


<!-- ============================================================ -->


        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>방문 예약 요청 리스트</h3>
                    <ul>

                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ================================================================ -->


<section>
    <div id="content_box" >
    	<div id="realtorId_area">
    		* <span style="font-weight: bold; color: #64A3FF;">[[${realtorId}]]</span>님에게 들어온 요청이에요!
    	</div>
        <div id="content_area"  th:if="${reservInfoDTO!=null}"  th:each="dto: ${reservInfoDTO}">
            <div id="item_image"  th:if="${dto.itemId!=null}" >
                <img alt="매물사진" src="/listing_images/${dto.itemId}/1.png">
            </div>
            <div class="itemList_shortcut"  th:if="${reservInfoDTO!=null}">
                <ul>예약 일정
                    <li>예약 일자 ㅣ<br/> [[${dto.visitDate}]]</li>
                    <li>예약 시간 ㅣ<br/> [[${dto.visitTime}]]</li>
                </ul>
                <ul>예약 매물 정보
                    <li>매물 번호 ㅣ<br/> [[${dto.itemId}]]</li>
                    <li>주소지 ㅣ<br/> [[${dto.addrDetail}]]</li>
                    <li>전월세 ㅣ<br/> [[${dto.yearly_monthly}]]</li>
                    <li th:if="${dto.yearly_monthly=='전세'}">금액 ㅣ<br/> [[${dto.yearlyFee}]]만원</li>
                    <li th:if="${dto.yearly_monthly=='월세'}">금액 ㅣ<br/> 보증금 [[${dto.deposit}]] / [[${dto.yearlyFee}]]만원</li>
                </ul>
                <ul>예약자 정보
                    <li>아이디ㅣ<br/> [[${dto.userId}]]</li>
                    <li>성함ㅣ<br/> [[${dto.userName}]]</li>
                    <li>연락처 ㅣ<br/> [[${dto.userPhone}]]</li>
                    <li th:if="${dto.yearly_monthly=='전세'}">금액 ㅣ<br/> [[${dto.yearlyFee}]]만원</li>
                    <li th:if="${dto.yearly_monthly=='월세'}">금액 ㅣ<br/> 보증금 [[${dto.deposit}]] / [[${dto.yearlyFee}]]만원</li>
                </ul>
               </div>
            <div id="confirm_btn_area">
                <button id="confirm_button"><a th:href="@{/newzips/reservationConfirmedRealtor(userId=${dto.userId},realtorId=${dto.realtorId},itemId=${dto.itemId})}">확정</a></button>
            </div>
        </div>
    </div>
</section>

	


<!-- ================================================================ -->




<!-- 
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!--pagination end-->
                                
          
      
 
<!-- ================================================================================================ -->


</div><!--layout fragment end-->  
  

</html>