<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Newzip's</title>

<link rel="stylesheet" type="text/html" ~~~>

</head>
<body>


<table border="1" style="width:1400; margin: auto;">
	<tr>
		<td width="1400" height="40" style="font-size: 20px;">방문 예약 요청리스트</td>
	</tr>
	<tr>
		<td align="center">
			<input style="width:800px; height:30px; padding-left: 20px;" placeholder="# 검색"/>
		</td>
	</tr>
</table>


<table border="1" style="width: 1400px; height: 50px; margin: auto;
	font-size: 15px; font-weight: bold; ">
	<tr>
		<td width="300">
			<table style="width: 300">
				<img alt="매물 사진" src="매물사진" width="250" height="250"/>
			</table>
		</td>
		<td width="450" height="200">
			<table border="1" width="500" height="250" style="padding-left: 10px">
				<tr height="50">
					<td>YYYY - MM - DD / PM 3:00
					</td>
				</tr>
				<tr>
					<td>소재지 : ~~~<br/><br/>
						전월세 : ~~~원<br/><br/>
						보증금 : ~~~~원
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table border="1" style="width: 400; height: 250;">
				<tr>
					<td width="400" height="30" valign="top" style="padding-top: 10px">■ 예약자 정보<br/>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
					이름ㅣ <br/><br/>
					연락처 ㅣ <br/><br/>
					매물옵션 ㅣ <br/><br/>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<button>확정</button>
		</td>
	<tr height="50"><td></td></tr>
	</tr>
</table>




</body>
</html>