<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">

    <link rel="stylesheet" type="text/css" href="/assets/css/suggestList.css">
    
    
<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>매물 제안</h3>
                    <ul>

                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ============================================================ -->


<section>
	
	<div class="container_suggest">
		<div class="userInfo_area" th:if="${suggest!= null}">
			<div id="suggest_username">
                <p style="font-size: 25px; font-weight: bold" id="userId">[[${suggest.userId}]]</p>
                <p style="font-size: 22px; color: #000000;">님께 제안 가능한 매물</p>
            </div>	
			 <div class="suggestList_itemList_shortcut" >
               		<ul>* 고객 매물 조건
               			<li th:text="'아이디 ㅣ '+${suggest.userId}"></li>
               			<li th:text="'지역ㅣ '+${suggest.addrCity} + ${suggest.addrGu}"></li>
               			<li th:text="'전월세 ㅣ '+${suggest.yearly_monthly}"></li>
               			 <li th:if="${suggest.yearly_monthly=='전세'}" th:text="'금액 ㅣ ' + ${suggest.deposit}"></li>
						<li th:if="${suggest.yearly_monthly=='월세'}" 
						th:text="'금액 ㅣ '+ ${suggest.deposit} + ' / ' + ${suggest.monthlyFee}"></li>
               			<li th:text="'방 개수 ㅣ '+${suggest.rooms} + '개'"></li>
               		</ul>
               	</div>
        </div>
       <div class="suggestList_area" th:if=${realtorListDTO!=null} th:each="realtor:${realtorListDTO}">
       		<div id="suggest_itemImage">
                <img id="suggest_item_img" th:if="suggest" 
                alt="매물사진" src="/listing_images/35802035/1.png">
            </div>
   			<div class="suggestList_content" >
           	 <ul>* 제안 가능한 매물
                 <li>매물번호 l &nbsp;&nbsp;&nbsp;[[${realtor.itemId}]]</li>
                 <li>지역 l &nbsp;&nbsp;&nbsp;[[${realtor.addrDetail}]]</li>
                 <li>전월세 l &nbsp;&nbsp;&nbsp;[[${realtor.yearly_monthly}]]</li>
                 <li th:if="${realtor.yearly_monthly=='전세'}">금액 l &nbsp;&nbsp;&nbsp;[[${realtor.deposit}]]만원</li>
				<li th:if="${realtor.yearly_monthly=='월세'}">금액 l &nbsp;&nbsp;&nbsp;[[${realtor.deposit}]]만원 / [[${realtor.monthlyFee}]]만원</li>
				<li>관리비 l &nbsp;&nbsp;&nbsp;[[${realtor.maintenanceCost}]]원</li>
                 <li>매물 종류 l &nbsp;&nbsp;&nbsp;[[${realtor.roomType}]]</li>
                 <li>평 수 l &nbsp;&nbsp;&nbsp;[[${realtor.area}]]평</li>
                 <li>방 수 l &nbsp;&nbsp;&nbsp;[[${realtor.rooms}]]개</li>
             </ul>
             </div>
             <div class="select_btn_area">
				<input type="checkbox" name="checkbox"  th:value="${realtor.itemId}"/>
	        </div>          
       </div> 
		<div class="complete_btn_area">
<!--                 <button id="complete_button" type="button"><a href="suggestListRealtor_ok">완료</a></button> -->
                <button id="complete_button" type="button" onclick="check_ok()">완료</button>
                
	    </div>  
	
	
	</div>
   
</section>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

function check_ok(){
	
	var header = $("meta[name='_csrf_header']").attr('content');
	var token = $("meta[name='_csrf']").attr('content');
	var userId = document.getElementById("userId").innerHTML;
	alert(userId);
	
	const checkboxes = document.querySelectorAll('input[name="checkbox"]:checked');
	
	const checkedValues = [];
	
	checkboxes.forEach(function(checkbox) {
		  checkedValues.push(checkbox.value);
		});
	
	$.ajax({
		
		url: '/newzips/suggestListRealtor',
		method:'post',
		data:{
			checkedValues:checkedValues,
			userId:userId
		},
		success:function(mav){
			alert("성공")
			location.href = "http://localhost:8080/newzips/suggestListRealtor_ok/" + userId;
		},
		beforeSend:function(xhr){
			xhr.setRequestHeader(header, token);
		}
		
	})
	
	//window.location.href = "suggestListRealtor_ok?itemId=" + checkedValues
	
}



function btnActive() {
    var selectBtns = document.getElementsByName('selectBtn');
    for (var i = 0; i < selectBtns.length; i++) {
      var selectBtn = selectBtns[i];
      selectBtn.addEventListener('click', function() {
        this.disabled = !this.disabled;
        if (this.disabled) {
          this.classList.add('disabled');
        } else {
          this.classList.remove('disabled');
        }
      });
      // 초기에 비활성화된 버튼에 대해서도 클래스 추가
      if (selectBtn.disabled) {
        selectBtn.classList.add('disabled');
      }
    }
  }

</script>	


</div>

</html>