<!doctype html>
<html layout:decorate="~{realtor/layout_realtor}">

<meta charset="utf-8">

<div layout:fragment="content">


    <link rel="stylesheet" type="text/css" href="/assets/css/suggestList.css">
<!-- ============================================================ -->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>제안한 매물</h3>
                    <ul>

                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>


<!-- ============================================================ -->


<section>
<div id="content_box">
    	<div id="realtorId_area" th:if="${realtorId!=null}">
    		* <span style="font-weight: bold; color: #64A3FF;">[[${realtorId}]]</span>님이 제안한 매물
       	</div>
		<div id="content_area" th:if="${realtorList!=null}" th:each="item : ${realtorList}">
 			<div id="suggestItem_image">
				  <img alt="매물사진" th:src="@{|/assets/listing_images/${item.itemId}/1.png|}" class="img-fluid">
			</div>
			<div id="content_info" >
			<div id="reserver_info">
			 <ul>* 제안한 고객
                  <li>아이디ㅣ[[${item.userId}]]<br/></li>
             </ul>
             </div>
             <div id="suggested_content">
           	 <ul>* 매물 정보
                 <li>매물번호 ㅣ<br/>[[${item.itemId}]]</li>
                 <li>주소 ㅣ<br/>[[${item.addrDetail}]]</li>
			</ul>
			<ul><br/>
				<li>전월세 ㅣ<br/>[[${item.yearly_monthly}]]</li>
                <li th:if="${item.yearly_monthly=='전세'}">금액 ㅣ<br/>[[${item.deposit}]]만원</li>
				<li th:if="${item.yearly_monthly=='월세'}">금액 ㅣ<br/>[[${item.deposit}]]만원 / [[${item.monthlyFee}]]만원</li>			
				<li>관리비 l<br/>[[${item.maintenanceCost}]]원</li>
			</ul>
			<ul><br/>
				 <li>매물 종류 l<br/>[[${item.roomType}]]</li>
                 <li>평 수 ㅣ<br/>[[${item.area}/3.305785]]평</li>
                 <li>방 수 ㅣ<br/>[[${item.rooms}]]개</li>
             </ul>
            </div>
		</div>	
</div>
</section>


</div>
</html>